{% load staticfiles %}
<figure  class="swiper-slide">
    <a href="http://www.ioniconline.com">
        <img src="{% static "images/ad/ad_ioniconline.png"%}" max-height="500px" width="100%">
    </a>
</figure>
<figure  class="swiper-slide">
    <a href="http://www.ioniconline.com">
        <img src="{% static "images/ad/ad_ionic1.png"%}" max-height="500px" width="100%">
    </a>
</figure>
<figure  class="swiper-slide">
    <a href="http://www.ioniconline.com">
        <img src="{% static "images/ad/ad_ionic2.png"%}" max-height="500px" width="100%">
    </a>
</figure>
<figure  class="swiper-slide">
    <a href="http://www.ioniconline.com">
        <img src="{% static "images/ad/ad_ionic3.png"%}" max-height="500px" width="100%">
    </a>
</figure>
<figure  class="swiper-slide">
    <a href="http://www.ioniconline.com">
        <img src="{% static "images/ad/ad_ionic4.png"%}" max-height="500px" width="100%">
    </a>
</figure>
<figure  class="swiper-slide">
    <a href="http://www.ioniconline.com">
        <img src="{% static "images/ad/ad_ionic5.png"%}" max-height="500px" width="100%">
    </a>
</figure>
<figure  class="swiper-slide">
    <a href="http://www.ioniconline.com">
        <img src="{% static "images/ad/ad_ionic6.png"%}" max-height="500px" width="100%">
    </a>
</figure>
<figure  class="swiper-slide">
    <a href="http://www.ioniconline.com">
        <img src="{% static "images/ad/ad_ionic7.png"%}" max-height="500px" width="100%">
    </a>
</figure>
<figure  class="swiper-slide">
    <a href="http://www.ioniconline.com">
        <img src="{% static "images/ad/ad_ionic8.png"%}" max-height="500px" width="100%">
    </a>
</figure>
<figure  class="swiper-slide">
    <a href="http://www.ioniconline.com">
        <img src="{% static "images/ad/ad_ionic9.png"%}" max-height="500px" width="100%">
    </a>
</figure>
<figure  class="swiper-slide">
    <a href="http://www.ioniconline.com">
        <img src="{% static "images/ad/ad_ionic10.png"%}" max-height="500px" width="100%">
    </a>
</figure>
<figure  class="swiper-slide">
    <a href="http://www.ioniconline.com">
        <img src="{% static "images/ad/ad_ionic11.png"%}" max-height="500px" width="100%">
    </a>
</figure>
<figure  class="swiper-slide">
    <a href="http://www.ioniconline.com">
        <img src="{% static "images/ad/ad_ionic12.png"%}" max-height="500px" width="100%">
    </a>
</figure>