<!-- row -->
      <div class="row">
        <div class="col-md-12">
          <!-- The time line -->
          <ul class="timeline">
           
            <!-- timeline time label -->
            <li class="time-label">
                  <span class="bg-red">
                    2016年4月23日
                  </span>
            </li>
            <!-- /.timeline-label -->
            
            <!-- timeline item -->
            <li>
              <i class="fa fa-envelope bg-blue"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                <h3 class="timeline-header"><a href="#"></a>BotDocker 内测版上线</h3>

                <div class="timeline-body">
                  国际上对机器人的概念已经逐渐趋近一致。一般来说，人们都可以接受这种说法，即机器人是靠自身动力和控制能力来实现各种功能的一种机器。联合国标准化组织采纳了美国机器人协会给机器人下的定义：“一种可编程和多功能的操作机；或是为了执行不同的任务而具有可用电脑改变和可编程动作的专门系统。”它能为人类带来许多方便之处！
                </div>
                <div class="timeline-footer">
                  <a class="btn btn-primary btn-xs">详情</a>
                </div>
              </div>
            </li>
            <!-- END timeline item -->
            
            
            <!-- timeline time label -->
            <li class="time-label">
                  <span class="bg-red">
                    2016年3月23日
                  </span>
            </li>
            <!-- /.timeline-label -->
            
            <!-- timeline item -->
            <li>
              <i class="fa fa-envelope bg-blue"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

                <h3 class="timeline-header"><a href="#"></a>BotDocker 原型定义</h3>

                <div class="timeline-body">
                  国际上对机器人的概念已经逐渐趋近一致。一般来说，人们都可以接受这种说法，即机器人是靠自身动力和控制能力来实现各种功能的一种机器。联合国标准化组织采纳了美国机器人协会给机器人下的定义：“一种可编程和多功能的操作机；或是为了执行不同的任务而具有可用电脑改变和可编程动作的专门系统。”它能为人类带来许多方便之处！
                </div>
                <div class="timeline-footer">
                  <a class="btn btn-primary btn-xs">详情</a>
                </div>
              </div>
            </li>
            <!-- END timeline item -->
            
            <li>
              <i class="fa fa-clock-o bg-gray"></i>
            </li>
          </ul>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->