
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load staticfiles %}
{% load compress %}
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>产品动态 - Powered By TURING</title>
	<meta name="Author" content="TURING Team" />
	<meta name="Copyright" content="TURING" />
	<link rel="icon" href="favicon.ico" type="image/x-icon" />
      {% compress css %}
	<link href="{% static "tuling123/css/reset.css"%}" rel="stylesheet" type="text/css" />
	<link href="{% static "tuling123/css/top.css"%}" rel="stylesheet" type="text/css" />
	<link href="{% static "tuling123/css/left.css"%}" rel="stylesheet" type="text/css" />
	<link href="{% static "tuling123/css/zmsg.css"%}" rel="stylesheet" type="text/css" />
	<link href="{% static "tuling123/css/bins.css"%}" rel="stylesheet" type="text/css" />
	<link href="{% static "tuling123/css/base.css"%}" rel="stylesheet" type="text/css" />
      <style>
        .aClick {
          display: none;
        }
      </style> 
      {% endcompress %}
        {% block meta %}
        {% endblock %}
</head>
<body class="memberCenter messagePage_z">
        {% block uc_header %}
                {% include 'uc_header.html'%}
        {% endblock %}

        {% block uc_left %}
                {% include 'uc_left.html'%}
        {% endblock %}
  <div class="personal_right"> 
      <div class="personal_right_box mini" style="padding-bottom: 0;"> 
             <div class="personal_head"> 
                 <span>{% block uc_title %}{% endblock %}</span> 
            </div> 
            {% block uc_content %}
            {% endblock %}
     </div> 
  </div> 
{% compress js %}
<script type="text/javascript" src="{% static "js/jquery-1.11.3.min.js"%}"></script>
<script>
  var jq = jQuery.noConflict();
</script>
<script type="text/javascript" src="{% static "tuling123/js/base.js"%}"></script>
<script type="text/javascript" src="{% static "tuling123/js/browser.js"%}"></script>
<!--[if lte IE 6]>
<script type="text/javascript" src="{% static "tuling123/common/js/belatedPNG.js"%}"></script>
<script type="text/javascript">
  // 解决IE6透明PNG图片BUG
  DD_belatedPNG.fix(".belatedPNG");
</script>
<![endif]-->
<script type="text/javascript" src="{% static "js/common.js"%}"></script>
<script> 
    jq('#navlist1').hover(function() {
        jq('.navlistIcon').css('background', 'url(/static/tuling123/img/icon189.png) center no-repeat');
    },
    function() {
        jq('.navlistIcon').css('background', 'url(/static/tuling123/img/icon183.png) center no-repeat');
    });

/*jq(function() {
    jq.ajax({
        url: "/web/instation_message!getUnreadIMMCount.action",
        type: "POST",
        dataType: "json",
        cache: false,
        success: function(data) {
            if (data.sumCount > 99) {
                jq('#zxx').show();
                jq('#zxx').html('99+');
            } else if (data.sumCount > 0) {
                jq('#zxx').show();
                jq('#zxx').append("" + data.sumCount + "");
            }
            if (data.immCount > 99) {
                jq('#znx').html('(99+)');
            } else if (data.immCount > 0) {
                jq('#znx').append("(" + data.immCount + ")");
            }
            if (data.amCount > 99) {
                jq('#xtgg').html('(99+)');
            } else if (data.amCount > 0) {
                jq('#xtgg').append("(" + data.amCount + ")");
            }

        },
        error: function() {
            console.log('error');
        }
    });
});*/
           data = {"sumCount":"100","immCount":"100","amCount":"100"};
           if (data.sumCount > 99) {
                jq('#zxx').show();
                jq('#zxx').html('99+');
            } else if (data.sumCount > 0) {
                jq('#zxx').show();
                jq('#zxx').append("" + data.sumCount + "");
            }
            if (data.immCount > 99) {
                jq('#znx').html('(99+)');
            } else if (data.immCount > 0) {
                jq('#znx').append("(" + data.immCount + ")");
            }
            if (data.amCount > 99) {
                jq('#xtgg').html('(99+)');
            } else if (data.amCount > 0) {
                jq('#xtgg').append("(" + data.amCount + ")");
            }

/*<img src="/static/tuling123/img/icon120.png"/>*/

//判断会员是否登录
/*jq.ajax({
			url: "/web/member!ajaxMemberVerify.action",
			type: "POST",
			dataType: "json",
			//async: false,
			cache: false,
			success: function(data) {
				if (data.status) {
					//已登录
					jq('.login').remove();
					jq('.zhuce').remove();
					jq('.gerenzhongxin').show();
				} else {
					//未登录
					jq('.gerenzhongxin').hide();
				}
			}
		});*/

//获取用户等级
/*jq.ajax({
    url: "/web/member!ajax4MemberRank.action",
    type: "POST",
    dataType: "json",
    //async: false,
    cache: false,
    success: function(data) {
        if (data == 1) {
            jq('#userType').addClass('bzb');
            jq('#userType').attr('title', '标准版');
            jq('#userType').show();
        } else if (data == 3) {
            jq('#userType').addClass('bzbed');
            jq('#userType').attr('title', '标准版');
            jq('#userType').show();
        } else if (data == 2) {
            jq('#userType').addClass('etb');
            jq('#userType').attr('title', '儿童版');
            jq('#userType').show();
        } else {
            jq('#userType').hide();
        }
    }
});*/
//TODO
jq('#userType').addClass('bzbed');
jq('#userType').attr('title', '标准版');
jq('#userType').show();

jq(window).scroll(function() {
    top = jq('body').scrollTop();
    if (top >= '110') {
        jq('#header').css({
            'background': 'rgba(255,255,255,0.95)'
        });
    } else {
        jq('#header').css({
            'background': 'rgba(255,255,255,1)'
        });
    }
})

var webtuling = {
    header: function() {
        jq('.news').on('mouseover',
        function() {
            jq(this).addClass('on');
            jq(this).children('.uls').show();
        });
        jq('.news').on('mouseout',
        function() {
            jq(this).removeClass('on');
            jq(this).children('.uls').hide();
        });
        return this;
    }
}
webtuling.header();
var loginStatus = true; 
</script>
<script>
	jq(function () {
		var cur = "l_11";
		jq('.lis li').removeClass('active');
		jq('#' + cur).addClass('active');
		jq('#' + cur).parent().show().prev().addClass('active');
		var lislen = jq('.lis').length;
		for (var j = 0; j < lislen; j++) {
			if (jq('.lis').eq(j).css('display') == 'block') {
				jq('.lis').eq(j).find('a').addClass('text_name');
			} else {
				jq('.lis').eq(j).find('a').removeClass('text_name');
			}
			;
		}
		;
		var text_name = jq('.sidebar_nav .text_name');
		var lens = text_name.length;
		for (var q = 0; q < lens; q++) {
			text_name.eq(q).attr({
				y: (q + 1) * 40
			});
		}
		;
	});
</script> 
<script>
    //展示以及菜单的红点提示
    if (false || false || false || false || false || false || false || false || false || false) {
        jq("#planet").show();
    }
    if (false || false || false || false || false || false || false || false || false || false) {
        jq("#user").show();
    }
    if (false || false || false || false || false || false || false || false || false || false) {
        jq("#super").show();
    }
    if (false || false || false || false || false || false || false || false || false || false) {
        jq("#message").show();
    }

    // 新功能圆点标识 点击消失
    function circle(obj) {
        if (obj.find('.newFeatures_z')) {
            obj.find('.newFeatures_z i').hide();
            obj.find('.newFeatures_z span').each(function() {
                var newLeft = parseInt(jq(this).css('left')) + parseInt(jq(this).css('width')) / 2;
                var newTop = parseInt(jq(this).css('top')) + parseInt(jq(this).css('height')) / 2;
                jq(this).show().animate({
                    'width': 0,
                    'height': 0,
                    'left': newLeft,
                    'top': newTop
                },
                500,
                function() {
                    jq(this).hide();
                });
            });
        }
    }

    jq('.lis li').click(function() {
        var $_this = jq(this);
        if (jq(this).find('.newFeatures_z').css('display') == 'block') {
            jQuery.post("/web/member!hasClicked.action", {
                num: jq(this).attr('num')
            },
            function() {
                window.location = $_this.find('em').attr('data_href');
            })
        } else {
            window.location = $_this.find('em').attr('data_href');
        }

        circle(jq(this))
    })

    var webtuling = {
        //菜单滚动功能
    navScroll: function () {
                jq('.sidebar_nav').height(jq(window).height() - 89 - 40);
                jq(window).on('resize', function () {
                    jq('.sidebar_nav').height(jq(window).height() - 89 - 40);
                })
                return this;
            },
        // 知识库左边菜单的高度
        personalh: function() {
            var html_h = jq('html').height() - 89;
            jq('.personal_left').height(html_h);
            return this;
        },
        // personal_left 内容
        sidebar: function() {
            var i = 0;
            var w = null;
            var textname = jq('.sidebar_nav .text_name');
            var len = textname.length;
            var lislen = jq('.lis').length;
            jq('.sidebar .sidebar_header').on('click',
            function() {
                jq('.newFeatures_z').toggleClass('active') // 新功能标识，红点的显示隐藏
                jq('.personal_left').toggleClass('mini');
                jq('.personal_right').toggleClass('mini');
                w = jq('.personal_left').width();
            });
            //获取 top的值
            for (var j = 0; j < lislen; j++) {
                if (jq('.lis').eq(j).css('display') == 'block') {
                    jq('.lis').eq(j).find('a').addClass('text_name');
                } else {
                    jq('.lis').eq(j).find('a').removeClass('text_name');
                };
            };

            jq('.sidebar_nav .uls_header .right').on('click',
            function() {
                return false;
            });
            // 重新获取top的值
            // 以下是菜单互不影响的实现
            jq('.sidebar_nav .uls_header').on('click',
            function() {

                if (jq(this).next().css('display') == 'block') {
                    jq(this).removeClass('active');
                    jq(this).next().slideUp();
                    jq('.uls').find('a').addClass('text_name');
                    jq(this).next().find('a').removeClass('text_name');
                } else {
                    jq(this).addClass('active');
                    jq(this).next().slideDown();
                    jq('.uls').find('a').removeClass('text_name');
                    jq(this).next().find('a').addClass('text_name');
                }
                var text_name = jq('.sidebar_nav .text_name');
                var lens = text_name.length;

                move_text(text_name);
            });

            function move_text(textname) {
                textname.on('mouseover',
                function() {
                    if (w == 55) {
                        var name = jq(this).attr('text_name');
                        var y = jq(this).attr('y');
                        jq('.move_text .text').html(name);
                        jq('.move_text').css({
                            'right': '-125px',
                            'top': jq(this).offset().top - 85 + 'px',
                            display: 'block'
                        });
                    } else {
                        return false;
                    };
                });
                textname.on('mouseout',
                function() {
                    if (w == 55) {
                        jq('.move_text').hide();
                        jq('.move_text .text').html(' ');
                    } else {
                        return false;
                    };
                });
            }

            move_text(textname);
            return this;
        },
        // 三级导航
        bins: function() {
            // bins 弹出框
            var binslen = jq('.bins').children().not('.bg').length;
            var m = 0;
            var n = 0;
            var objw = [];
            var objh = [];
            for (n; n < binslen; n++) {
                m++;
                objw[n] = jq('.bins_content' + m).width();
                objh[n] = jq('.bins_content' + m).height();
                jq('.bins_content' + m).css({
                    'marginLeft': -objw[n] / 2,
                    'marginTop': -objh[n] / 2
                });
            };
            // bins 弹出框
            var i = 1;
            var j = 0;
            var binslen = jq('.bins_btn').length;
            for (i; i <= binslen; i++) {
                jq('.bins_btn' + i).attr('index', i);
                jq('.bins_btn' + i).click(function() {
                    j = jq(this).attr('index');
                    jq('.bins').show();
                    jq('.bins_content' + j).show().siblings().hide();
                    jq('.bins .bg').show();
                });
                jq('.bins .btn-default').on('click',
                function() {
                    jq('.bins').hide();
                    jq('.bins_content' + j).show().siblings().hide();
                    jq('.bins .bg').hide();
                });
            };
            return this;
        }
    }

    webtuling.navScroll().personalh().sidebar().bins();
    //左侧导航高度自适应
    jq(window).on('resize',
    function() {
        var h = jq(window).height() - 89;
        jq('.personal_left').height(h);
    })
</script>
<script>
	jq('#message_z li').hover(
		function(){
			jq(this).find('.delBtn').show();
		},
		function(){
			jq(this).find('.delBtn').hide();
		}
		);
	jq('.title').click(function(){
		jq(this).siblings('.details').click();
	})
	jq('.details').click(
		function(){
			if( jq(this).attr('st') == 'off' ){
				///未展开
                      jq(this).attr('st', 'on');
                      //展开
                      jq(this).html('收起');
                      jq(this).parent().next().show();
                      jq(this).css('background', 'url(/static/tuling123/img/icon190.png) left center no-repeat')

                      } else {
                          jq(this).attr('st', 'off');
                          //收起
                          jq(this).html('查看详情');
                          jq(this).parent().next().hide();
                          jq(this).css('background', 'url(/static/tuling123/img/icon191.png) left center no-repeat')
                      }
              }
      )
</script>
{% endcompress %}
</body>
</html>