{% extends "uc_base.html" %}
{% load staticfiles %}
{% load compress %}

{% block title %}流氓兔{% endblock %}
{% block meta %}
<meta />
{% endblock %}

{% block uc_title %}产品动态{% endblock %}
{% block uc_content %}
 <ul class="message" id="message_z"> 
     <li> 
      <div> 
       <span title="" class="title">图灵机器人官网3.0版正式上线</span> 
       <span></span> 
       <span class="details" amid="" st="off">查看详情</span> 
      </div> 
      <div style="display:none"> 
       <i class="line"></i> 
       <div class="content">
        2015年10月29日，图灵机器人官网3.0版正式上线
       </div> 
      </div> </li> 
     <li> 
      <div> 
       <span title="" class="title">图灵机器人注册用户超100000</span> 
       <span></span> 
       <span class="details" amid="" st="off">查看详情</span> 
      </div> 
      <div style="display:none"> 
       <i class="line"></i> 
       <div class="content">
        2015年10月，图灵机器人注册用户累计超100000
       </div> 
      </div> </li> 
     <li> 
      <div> 
       <span title="" class="title">图灵机器人荣获2015年度创新产品奖</span> 
       <span></span> 
       <span class="details" amid="" st="off">查看详情</span> 
      </div> 
      <div style="display:none"> 
       <i class="line"></i> 
       <div class="content">
        2015年9月23日，图灵机器人荣获由商界传媒主办的“中国产品创新高峰论坛”颁发的“2015年度创新产品奖”
       </div> 
      </div> </li> 
     <li> 
      <div> 
       <span title="" class="title">图灵机器人默认日调用次数提升至5000次</span> 
       <span></span> 
       <span class="details" amid="" st="off">查看详情</span> 
      </div> 
      <div style="display:none"> 
       <i class="line"></i> 
       <div class="content">
        2014年11月15日，图灵机器人默认调用次数提升至5000次/天
       </div> 
      </div> </li> 
     <li> 
      <div> 
       <span title="" class="title">图灵机器人平台正式对外发布</span> 
       <span></span> 
       <span class="details" amid="" st="off">查看详情</span> 
      </div> 
      <div style="display:none"> 
       <i class="line"></i> 
       <div class="content">
        2014年11月7日，图灵机器人于北京3W咖啡正式对外发布
       </div> 
      </div> </li> 
     <li> 
      <div> 
       <span title="" class="title">图灵机器人注册用户超50000</span> 
       <span></span> 
       <span class="details" amid="" st="off">查看详情</span> 
      </div> 
      <div style="display:none"> 
       <i class="line"></i> 
       <div class="content">
        2015年5月，图灵机器人注册用户累计超50000
       </div> 
      </div> </li> 
     <li> 
      <div> 
       <span title="" class="title">图灵机器人注册用户超20000</span> 
       <span></span> 
       <span class="details" amid="" st="off">查看详情</span> 
      </div> 
      <div style="display:none"> 
       <i class="line"></i> 
       <div class="content">
        2014年12月15日，图灵机器人注册用户累计超20000
       </div> 
      </div> </li> 
     <li> 
      <div> 
       <span title="" class="title">图灵机器人新增机器人调用统计功能</span> 
       <span></span> 
       <span class="details" amid="" st="off">查看详情</span> 
      </div> 
      <div style="display:none"> 
       <i class="line"></i> 
       <div class="content">
        2014年12月28日，图灵机器人新增机器人调用统计功能
       </div> 
      </div> </li> 
    </ul> 
{% endblock %}     