<div id="header"> 
    <div class="header row"> 
        <div class="header_logo"> 
            <a href="/"><img src="/static/images/logo.jpg" /></a> 
        </div> 
        <div class="header_nav"> 
             <ul class="gerenzhongxin userCenter_zxy "> 
                  <li class="news"> <i id="userType" style="display:none;"></i> <h1></h1> 
                       <div class="uls"> 
                        <ul class="geren"> 
                         <li> <a href="/web/data_overview!index.action">个人中心</a> </li> 
                         <li> <a href="/web/member!logout.action">退出登录</a> </li> 
                       </ul> 
                       <span class="pos"> 
                         <div>
                          <img src="/static/tuling123/img/icon118.png" />
                        </div> </span> 
                      </div> 
                  </li> 
                  <li class="newLi"> 
                       <div class="clearfix navlist"> 
                        <i></i> 
                        <a href="javascript:void(0)">消息</a> 
                        <span id="zxx" style="display:none;"></span> 
                      </div> 
                      <div class="specific"> 
                        <a href="/web/announcement!list.action?cur=l_13"><span></span>系统公告&nbsp;<em id="xtgg"></em></a> 
                        <a href="/web/instation_message!list.action?cur=l_14"><span></span>站内信&nbsp;<em id="znx"></em></a> 
                      </div> 
                  </li> 
                  <li class="newLi" id="navlist1"> 
                       <div class="navlist1"> 
                        <i class="navlistIcon"></i> 
                        <a href="/web/member!bbsing.action" target="_blank">社区</a> 
                      </div>
                  </li> 
            </ul> 
        </div> 
    </div> 
</div> 