  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/static/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{user_name}}</p>
          <!-- Status -->
          <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
        </div>
      </div>

      <!-- search form (Optional) -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header"></li>
        <!-- Optionally, you can add icons to the links -->
        <li class="treeview">
          <a href="#"><i class="fa fa-dashboard"></i> <span>我的机器人</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li id="l_02" ><a href="{% url 'set_bot' %}"><i class="fa fa-circle-o"></i>机器人设定</a></li>
            <li id="l_01" ><a href="{% url 'create_bot' %}"><i class="fa fa-circle-o"></i>机器人创建</a></li>
            <li id="l_03" ><a href="{% url 'corpus_def' %}"><i class="fa fa-circle-o"></i>语料库自定义</a></li>
            <li id="l_04" ><a href="{% url 'func_config' %}"><i class="fa fa-circle-o"></i>功能配置</a></li>
            <li id="l_05" ><a href="{% url 'white_list' %}"><i class="fa fa-circle-o"></i>白名单管理</a></li>
          </ul>
        </li>
       
        <li class="treeview">
          <a href="#"><i class="fa fa-user"></i> <span>用户中心</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li id="l_06" ><a href="{% url 'basic_info' %}"><i class="fa fa-circle-o"></i>基本资料</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#"><i class="fa fa-envelope-o"></i> <span>消息中心</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li id="l_07" ><a href="{% url 'system_notify' %}"><i class="fa fa-circle-o"></i>系统公告</a></li>
            <li id="l_08" ><a href="{% url 'site_msg' %}"><i class="fa fa-circle-o"></i>站内信</a></li>
            <li id="l_09" ><a href="{% url 'personalcenter' %}"><i class="fa fa-circle-o"></i>产品动态</a></li>
          </ul>
        </li>
        
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
