<br/>
<div>
{% if faqs %}
  {% for item in faqs %}
    <dl><dt><h4><img class="si-faq" src="/static/images/faq.png">{{ item.question}}<h4></dt><dd class="txt-faqa">答：{{item.answer}}</dd></dl>
  {% endfor %}
{% endif %}
</div>

<div class="align-center">
{% ifnotequal curPage 1 %}
    <a href="?curCate={{ curCate }}&&curPage={{ curPage }}&&allPage={{ allPage }}&&pageType=up">
        上一页
    </a>
{% endifnotequal %}
第{{ curPage }}/{{ allPage }}页
{% ifnotequal curPage allPage %}
    <a href="?curCate={{ curCate }}&&curPage={{ curPage }}&&allPage={{ allPage }}&&pageType=down">
        下一页
    </a>
{% endifnotequal %}
</div>
