{% extends "base.html" %}
{% load staticfiles %}
{% load compress %}

{% block title %}BotDocker{% endblock %}
{% block meta %}
<meta />
{% compress css%}
<link href="/static/css/swiper.min.css" rel="stylesheet" type="text/css">
{% endcompress %}
{% endblock %}
{% block nav_main_home %}current{% endblock %}

{% block content %}
<!-- <div class="home_main">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% include "ad_test_data.html" %}
            </div>
            <div class="swiper-pagination">
            </div>
        </div>
</div> -->
<div class="banner">
        <div class="banner_container">
            <div class="wmuSlider example1">
                <div class="wmuSliderWrapper">
                    <article style="position: absolute; width: 100%; opacity: 0;">
                        <div class="banner_right">
                            <h1>Welcome to <span class="color1">B</span>otDocker<span class="color1">.</span></h1>
                            <h2>Awesome , Clean & Unique Template</h2>
                            <a href="#" title="Online Reservation" class="btn btn-primary btn-normal btn-inline " target="_self">Read More about gelios</a>
                        </div>
                        <div class="clearfix"></div>
                    </article>
                    <article style="position: relative; width: 100%; opacity: 1;">
                        <div class="banner_right">
                            <h1>Welcome to <span class="color1">B</span>otDocker<span class="color1">.</span></h1>
                            <h2>There are many variations</h2>
                            <a href="#" title="Online Reservation" class="btn btn-primary btn-normal btn-inline " target="_self">Read More about gelios</a>
                        </div>
                        <div class="clearfix"></div>
                    </article>
                </div>
                <a class="wmuSliderPrev">Previous</a><a class="wmuSliderNext">Next</a>
                <script src="/static/js/basejs/jquery.wmuSlider.js"></script>
                <script>
                    $('.example1').wmuSlider();
                </script>
            </div>
        </div>
    </div>

    <div class="grid_1 text-center">
        <div class="container">
            <div class="col-md-4 box_1">
                <i class="icon1"> </i>
                <h3>自然语言系统</h3>
                <p>拥有最强大的中文语言系统， 能听懂你所表述的每句话，并能作出相应的回答。</p>
                <p><span class="color1">2000</span>万条知识图谱，<span class="color1">100</span>万条平行语料，<span class="color1">90%</span>中文语义识别分析能力，中文自然语言处理，中文自然语言合成</p>
            </div>
            <div class="col-md-4 box_1">
                <i class="icon2"> </i>
                <h3>支持群聊的人工智能</h3>
                <p>超智云端大脑，支持多人群聊，能记忆你的语言信息，并对每个人作出相应的回答。</p>
                <p><span class="color1">9</span>层语义理解体系，多信息语义处理，云脑处理</p>
            </div>
            <div class="col-md-4 box_1">
                <i class="icon3"> </i>
                <h3>用户个性化定制</h3>
                <p>Curabitur sit amet mauris. Morbi in dui quis est pulvinar ullamcorper. Nulla facilisi. Integer lacinia sollicitudin massa. Cras metus Morbi in dui quis est pulvinar</p>
            </div>
        </div>
    </div>

    <div class="new">
        <div class="container">
            <h3>What New</h3>
            <div class="col-md-4 col_3">
                <ul class="date_grid">
                    <li class="date_left">
                        <div class="date">
                            <span>
                               15
                           </span>
                           06
                       </div>
                   </li>
                   <li class="date_right">
                    <p>Nulla facilisi. Integer lacinia sollicitudin massa. Cras metus Morbi in dui quis est pulvinar</p>
                </li>
                <div class="clearfix"> </div>
            </ul>
            <p class="m_1">Lollipop liquorice lollipop ice cream cheesecake halvah jelly-o. Gummies lollipop macaroon marshmallow icing. Cookie chupa chups cake dessert lollipop marzipan donut apple pie.</p>
            <a href="#"><span class="more">More Information</span></a>
        </div>
        <div class="col-md-4 col_3">
            <ul class="date_grid">
                <li class="date_left">
                    <div class="date">
                        <span>
                           15
                       </span>
                       06
                   </div>
               </li>
               <li class="date_right">
                <p>Nulla facilisi. Integer lacinia sollicitudin massa. Cras metus Morbi in dui quis est pulvinar</p>
            </li>
            <div class="clearfix"> </div>
        </ul>
        <p class="m_1">Lollipop liquorice lollipop ice cream cheesecake halvah jelly-o. Gummies lollipop macaroon marshmallow icing. Cookie chupa chups cake dessert lollipop marzipan donut apple pie.</p>
        <a href="#"><span class="more">More Information</span></a>
        </div>
            <div class="col-md-4 col_3">
                <ul class="date_grid">
                    <li class="date_left">
                        <div class="date">
                            <span>
                               15
                           </span>
                           06
                       </div>
                   </li>
                   <li class="date_right">
                    <p>Nulla facilisi. Integer lacinia sollicitudin massa. Cras metus Morbi in dui quis est pulvinar</p>
                </li>
                <div class="clearfix"> </div>
            </ul>
            <p class="m_1">Lollipop liquorice lollipop ice cream cheesecake halvah jelly-o. Gummies lollipop macaroon marshmallow icing. Cookie chupa chups cake dessert lollipop marzipan donut apple pie.</p>
            <a href="#"><span class="more">More Information</span></a>
        </div>
    </div>
</div>
{% endblock %}
{% block my_js %}
    {% compress js%}
        <script type="text/javascript" src="/static/js/swiper.min.js"></script>
        <script type="text/javascript">
             (window.jQuery || window.Zepto), jq(document).ready(function() {
                {
                    new Swiper(".swiper-container", {
                        autoplay: 3e3,
                        pagination: ".swiper-pagination",
                        nextButton: '.swiper-button-next',
                        prevButton: '.swiper-button-prev',
                        paginationClickable: true,
                        preloadImages: false,
                        lazyLoading: true,
                        centeredSlides: true,
                        autoplayDisableOnInteraction: true
                    })
                }
            });     
        </script>
    {% endcompress %}
{% endblock %}
