{% extends "base.html" %}
{% load staticfiles %}
{% load compress %}

{% block title %}Bot Docker{% endblock %}
{% block meta %}
<meta />
{% compress css%}
<link href="/static/css/swiper.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/market/style.css" rel="stylesheet" type="text/css">
{% endcompress %}
{% endblock %}
{% block nav_main_market %}current{% endblock %}
 {% block page_title %}Bot 工场 {% endblock %}
{% block content %}
<div class="products">
    <div class="container">
        <div class="products-grids">
            <div class="col-md-4 products-grid-left">
                <div class="w_sidebar">
                    <div class="w_nav1">
                        <h4>Categories</h4>
                        <ul>
                            <li><a href="#">重要的</a></li>
                            <li><a href="#">娱乐</a></li>
                            <li><a href="#">生活</a></li>
                            <li><a href="#">游戏</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-8 products-grid-right">
                <h4>Entertainment</h4>
                <div class="products-grid-lft">
                    <div class="products-grd">
                        <div class="p-one simpleCart_shelfItem prd">
                            <a href="single.html">
                                <img src="/static/images/market/orig_013.jpg" alt="" class="img-responsive">
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <h4>Vine</h4>
                            <p> <span class=" item_price valsa">vine</span></p>
                        </div>
                    </div>
                    <div class="products-grd">
                        <div class="p-one simpleCart_shelfItem prd">
                            <a href="single.html">
                                <img src="/static/images/market/orig_012.jpg" alt="" class="img-responsive">
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <h4>ClipDisBot</h4>
                            <p> <span class=" item_price valsa">ClipDisBot</span></p>
                        </div>
                    </div>
                    <div class="products-grd">
                        <div class="p-one simpleCart_shelfItem prd">
                            <a href="single.html">
                                <img src="/static/images/market/orig_002.jpg" alt="" class="img-responsive">
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <h4>Riffsy GIF Keyboard</h4>
                            <p><span class=" item_price valsa">Riffsy GIF Keyboard</span></p>

                        </div>
                    </div>
                    <div class="products-grd">
                        <div class="p-one simpleCart_shelfItem prd">
                            <a href="single.html">
                                <img src="/static/images/market/orig_014.jpg" alt="" class="img-responsive">
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <h4>Funny Or Die</h4>
                            <p><span class=" item_price valsa">funnyordie</span></p>

                        </div>
                    </div>
                    <div class="products-grd">
                        <div class="p-one simpleCart_shelfItem prd">
                            <a href="single.html">
                                <img src="/static/images/market/orig_006.jpg" alt="" class="img-responsive">
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <h4>Candie`s + Fifth Harmony</h4>
                            <p><span class=" item_price valsa">candies</span></p>

                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <h4>Lifestyle</h4>
                <div class="products-grid-lft">
                    <div class="products-grd">
                        <div class="p-one simpleCart_shelfItem prd">
                            <a href="single.html">
                                <img src="/static/images/market/orig_010.jpg" alt="" class="img-responsive">
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <h4>The Weather Channel</h4>
                            <p><span class=" item_price valsa">The Weather Channel</span></p>
                        </div>
                    </div>
                    <div class="products-grd">
                        <div class="p-one simpleCart_shelfItem prd">
                            <a href="single.html">
                                <img src="/static/images/market/orig.jpg" alt="" class="img-responsive">
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <h4>Sephora</h4>
                            <p><span class=" item_price valsa">Sephora</span></p>
                        </div>
                    </div>
                    <div class="products-grd">
                        <div class="p-one simpleCart_shelfItem prd">
                            <a href="single.html">
                                <img src="/static/images/market/orig_007.jpg" alt="" class="img-responsive">
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <h4>style q + a</h4>
                            <p><span class=" item_price valsa">makeoverbot</span></p>
                        </div>
                    </div>
                    <div class="products-grd">
                        <div class="p-one simpleCart_shelfItem prd">
                            <a href="single.html">
                                <img src="/static/images/market/orig_015.jpg" alt="" class="img-responsive">
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <h4>H&M</h4>
                            <p><span class=" item_price valsa">hm</span></p>
                        </div>
                    </div>
                    <div class="products-grd">
                        <div class="p-one simpleCart_shelfItem prd">
                            <a href="single.html">
                                <img src="/static/images/market/orig_009.jpg" alt="" class="img-responsive">
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <h4>Bot Point</h4>
                            <p><span class=" item_price valsa">botpoint</span></p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <h4>Games</h4>
                <div class="products-grid-lft">
                    <div class="products-grd">
                        <div class="p-one simpleCart_shelfItem prd">
                            <a href="single.html">
                                <img src="/static/images/market/orig_011.jpg" alt="" class="img-responsive">
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <h4>J-14 Celeb Quizzes</h4>
                            <p><span class=" item_price valsa">j14</span></p>
                        </div>
                    </div>
                    <div class="products-grd">
                        <div class="p-one simpleCart_shelfItem prd">
                            <a href="single.html">
                                <img src="/static/images/market/orig_008.jpg" alt="" class="img-responsive">
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <h4>Galatron VS</h4>
                            <p><span class=" item_price valsa">galatronvs</span></p>
                        </div>
                    </div>
                    <div class="products-grd">
                        <div class="p-one simpleCart_shelfItem prd">
                            <a href="single.html">
                                <img src="/static/images/market/orig_003.jpg" alt="" class="img-responsive">
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <h4>Arterra</h4>
                            <p><span class=" item_price valsa">arterra</span></p>
                        </div>
                    </div>
                    <div class="products-grd">
                        <div class="p-one simpleCart_shelfItem prd">
                            <a href="single.html">
                                <img src="/static/images/market/orig_004.jpg" alt="" class="img-responsive">
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <h4>Tickers the Bot</h4>
                            <p><span class=" item_price valsa">tickactoebot</span></p>
                        </div>
                    </div>
                    <div class="products-grd">
                        <div class="p-one simpleCart_shelfItem prd">
                            <a href="single.html">
                                <img src="/static/images/market/orig_005.jpg" alt="" class="img-responsive">
                                <div class="mask">
                                    <span>Quick View</span>
                                </div>
                            </a>
                            <h4>Zombie Invasion</h4>
                            <p><span class=" item_price valsa">zurvival</span></p>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
{% endblock %}
