{% extends "base.html" %}
{% load staticfiles %}
{% load compress %}

{% block title %}Bot Docker{% endblock %}
{% block meta %}
<meta />
{% compress css%}
<link href="/static/css/swiper.min.css" rel="stylesheet" type="text/css">
<link href="/static/css/market/css.css" rel="stylesheet" type="text/css">
{% endcompress %}
{% endblock %}
{% block nav_main_about %}current{% endblock %}

{% block content %}
<div style="padding:20px;">
    <div class="ng-scope" ng-view=""><div tabindex="0" class="feature-section carousel ng-scope flickity-enabled is-draggable" id="featureSlider">
        <div style="height: 281.25px;" class="flickity-viewport"><div style="left: 0px; transform: translateX(-103.76%);" class="flickity-slider"><div style="position: absolute; left: 0%;" class="carousel-cell ng-scope" ng-repeat="bot in featured.bots track by $index">
            <img inline="" class="carousel-image" src="/static/shared/img/placeholder_banner_large.png" src-onload="https://lh3.googleusercontent.com/7lwu2X0o13QqjULJ-oPCSjze0lV85UW9gpIQKUeEw2HdxnoTmcMzAGSXGtWOOqOwwW-WriK7fhnXzQCwh7XgahBf9g">
        </div><div style="position: absolute; left: 43.97%;" class="carousel-cell ng-scope" ng-repeat="bot in featured.bots track by $index">
            <img inline="" class="carousel-image" src="https://storage.googleapis.com/bot-dashboard.appspot.com/store-images/TWC-kikbot-spring-1920x1080.jpg" src-onload="https://storage.googleapis.com/bot-dashboard.appspot.com/store-images/TWC-kikbot-spring-1920x1080.jpg">
        </div><div style="position: absolute; left: 87.94%;" class="carousel-cell ng-scope" ng-repeat="bot in featured.bots track by $index">
            <img inline="" class="carousel-image" src="https://storage.googleapis.com/bot-dashboard.appspot.com/store-images/Sephora%20Banner%20with%20CTA.png" src-onload="https://storage.googleapis.com/bot-dashboard.appspot.com/store-images/Sephora%20Banner%20with%20CTA.png">
        </div><div style="position: absolute; left: 131.91%;" class="carousel-cell ng-scope is-selected" ng-repeat="bot in featured.bots track by $index">
            <img inline="" class="carousel-image" src="https://storage.googleapis.com/bot-dashboard.appspot.com/store-images/kpbanner.png" src-onload="https://storage.googleapis.com/bot-dashboard.appspot.com/store-images/kpbanner.png">
        </div><div style="position: absolute; left: 175.87%;" class="carousel-cell ng-scope" ng-repeat="bot in featured.bots track by $index">
            <img inline="" class="carousel-image" src="https://storage.googleapis.com/bot-dashboard.appspot.com/store-images/Arterra%20Feature%20Banner.jpg" src-onload="https://storage.googleapis.com/bot-dashboard.appspot.com/store-images/Arterra%20Feature%20Banner.jpg">
        </div></div></div><button aria-label="previous" type="button" class="flickity-prev-next-button previous"><svg viewBox="0 0 100 100"><path class="arrow" d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"></path></svg></button><button aria-label="next" type="button" class="flickity-prev-next-button next"><svg viewBox="0 0 100 100"><path transform="translate(100, 100) rotate(180) " class="arrow" d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z"></path></svg></button></div>
        <div class="home-page container ng-scope">
            <!-- <loading-spinner></loading-spinner> -->
            <category-nav class="ng-scope"><div class="category-nav">
                <div class="sidebar col-lg-2 col-md-3 col-sm-3">
                    <div class="sidebar-title">Categories</div>
                    <!-- ngRepeat: category in categories --><div style="" class="sidebar-item ng-binding ng-scope" ng-repeat="category in categories" ng-click="viewCategory(category)" ng-class="{'active': isActive(category.id)}">New and Noteworthy</div><!-- end ngRepeat: category in categories --><div style="" class="sidebar-item ng-binding ng-scope" ng-repeat="category in categories" ng-click="viewCategory(category)" ng-class="{'active': isActive(category.id)}">Entertainment</div><!-- end ngRepeat: category in categories --><div style="" class="sidebar-item ng-binding ng-scope" ng-repeat="category in categories" ng-click="viewCategory(category)" ng-class="{'active': isActive(category.id)}">Lifestyle</div><!-- end ngRepeat: category in categories --><div style="" class="sidebar-item ng-binding ng-scope" ng-repeat="category in categories" ng-click="viewCategory(category)" ng-class="{'active': isActive(category.id)}">Games</div><!-- end ngRepeat: category in categories -->
                </div>
                <div class="collapsed-bar">
                    <div class="collapsed-nav-button" ng-click="toggleCollapse=!toggleCollapse">
                        Categories
                        <div class="chevron chevron-right" ng-class="{'chevron-right': !toggleCollapse, 'chevron-down': toggleCollapse}"></div>
                    </div>
                    <div class="collapsed-nav ng-hide" ng-show="toggleCollapse">
                        <!-- ngRepeat: category in categories --><div style="" class="collapsed-item ng-binding ng-scope" ng-repeat="category in categories" ng-click="viewCategory(category)" ng-class="{'active': isActive(category.id)}">New and Noteworthy</div><!-- end ngRepeat: category in categories --><div style="" class="collapsed-item ng-binding ng-scope" ng-repeat="category in categories" ng-click="viewCategory(category)" ng-class="{'active': isActive(category.id)}">Entertainment</div><!-- end ngRepeat: category in categories --><div style="" class="collapsed-item ng-binding ng-scope" ng-repeat="category in categories" ng-click="viewCategory(category)" ng-class="{'active': isActive(category.id)}">Lifestyle</div><!-- end ngRepeat: category in categories --><div style="" class="collapsed-item ng-binding ng-scope" ng-repeat="category in categories" ng-click="viewCategory(category)" ng-class="{'active': isActive(category.id)}">Games</div><!-- end ngRepeat: category in categories -->
                    </div>
                </div>
            </div>
            </category-nav>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
                <category-grid class="ng-isolate-scope" grid-data="categories"><div class="categories">
                    <!-- ngRepeat: category in data --><div style="" class="category ng-scope" ng-repeat="category in data" ng-show="true">
                    <div class="category-title ng-binding"> Entertainment<span class="title-text"></span><span class="category-button" ng-click="viewCategory(category)">See All</span></div>
                    <div class="bots">
                        <!-- ngRepeat: bot in category.bots --><!-- ngIf: $index < 5 --><div class="bot-grid-container ng-scope" ng-repeat="bot in category.bots" ng-if="$index < 5">
                        <div class="bot-grid-item" ng-click="viewBot(bot)">
                            <div class="image-container profile-picture-container">
                                <img inline="" src="https://profilepics.cf.kik.com/kgeUhSuTXAFSgflcGDmflRNTPDw/orig.jpg" src-onload="https://profilepics.cf.kik.com/kgeUhSuTXAFSgflcGDmflRNTPDw/orig.jpg" class="profile-picture">
                                <img src="https://scancode.kik.com/api/v1/images/remote/35209db5e686299744838ec9f29b790f3c22d9e1/500x500.png?c=0" src-onload="https://scancode.kik.com/api/v1/images/remote/35209db5e686299744838ec9f29b790f3c22d9e1/500x500.png?c=0" hide-on-error="" class="scan-code">
                            </div>
                            <div class="details">
                                <div class="display-name ng-binding">Vine</div>
                                <div class="username ng-binding">vine</div>
                            </div>
                        </div>
                    </div><!-- end ngIf: $index < 5 --><!-- end ngRepeat: bot in category.bots --><!-- ngIf: $index < 5 --><div class="bot-grid-container ng-scope" ng-repeat="bot in category.bots" ng-if="$index < 5">
                        <div class="bot-grid-item" ng-click="viewBot(bot)">
                            <div class="image-container profile-picture-container">
                                <img inline="" src="https://profilepics.cf.kik.com/o01VTiZEQm53dTKCgblhjbtrrqA/orig.jpg" src-onload="https://profilepics.cf.kik.com/o01VTiZEQm53dTKCgblhjbtrrqA/orig.jpg" class="profile-picture">
                                <img src="https://scancode.kik.com/api/v1/images/remote/2120f11339dceea76fbd282f678acc1e053c690d/500x500.png?c=0" src-onload="https://scancode.kik.com/api/v1/images/remote/2120f11339dceea76fbd282f678acc1e053c690d/500x500.png?c=0" hide-on-error="" class="scan-code">
                            </div>
                            <div class="details">
                                <div class="display-name ng-binding">ClipDisBot</div>
                                <div class="username ng-binding">clipdisbot</div>
                            </div>
                        </div>
                    </div><!-- end ngIf: $index < 5 --><!-- end ngRepeat: bot in category.bots --><!-- ngIf: $index < 5 --><div class="bot-grid-container ng-scope" ng-repeat="bot in category.bots" ng-if="$index < 5">
                        <div class="bot-grid-item" ng-click="viewBot(bot)">
                            <div class="image-container profile-picture-container">
                                <img inline="" src="https://profilepics.cf.kik.com/JHGw9AffvbpbvpwlNzPN7joUYrs/orig.jpg" src-onload="https://profilepics.cf.kik.com/JHGw9AffvbpbvpwlNzPN7joUYrs/orig.jpg" class="profile-picture">
                                <img src="https://scancode.kik.com/api/v1/images/remote/387245a70ae4a0e28bc0dfa551df581b0420dc42/500x500.png?c=0" src-onload="https://scancode.kik.com/api/v1/images/remote/387245a70ae4a0e28bc0dfa551df581b0420dc42/500x500.png?c=0" hide-on-error="" class="scan-code">
                            </div>
                            <div class="details">
                                <div class="display-name ng-binding">Riffsy GIF Keyboard</div>
                                <div class="username ng-binding">gif</div>
                            </div>
                        </div>
                    </div><!-- end ngIf: $index < 5 --><!-- end ngRepeat: bot in category.bots --><!-- ngIf: $index < 5 --><div class="bot-grid-container ng-scope" ng-repeat="bot in category.bots" ng-if="$index < 5">
                        <div class="bot-grid-item" ng-click="viewBot(bot)">
                            <div class="image-container profile-picture-container">
                                <img inline="" src="https://profilepics.cf.kik.com/kjNSGq0Yh1aDxuwXLfpjPJ2spj0/orig.jpg" src-onload="https://profilepics.cf.kik.com/kjNSGq0Yh1aDxuwXLfpjPJ2spj0/orig.jpg" class="profile-picture">
                                <img src="https://scancode.kik.com/api/v1/images/remote/294dc34ff4331c643423489d8d50f52a6aa22fb1/500x500.png?c=0" src-onload="https://scancode.kik.com/api/v1/images/remote/294dc34ff4331c643423489d8d50f52a6aa22fb1/500x500.png?c=0" hide-on-error="" class="scan-code">
                            </div>
                            <div class="details">
                                <div class="display-name ng-binding">Funny Or Die</div>
                                <div class="username ng-binding">funnyordie</div>
                            </div>
                        </div>
                    </div><!-- end ngIf: $index < 5 --><!-- end ngRepeat: bot in category.bots --><!-- ngIf: $index < 5 --><div class="bot-grid-container ng-scope" ng-repeat="bot in category.bots" ng-if="$index < 5">
                        <div class="bot-grid-item" ng-click="viewBot(bot)">
                            <div class="image-container profile-picture-container">
                                <img inline="" src="https://profilepics.cf.kik.com/k8QrYBISH67TAO9-vzGYkSnCk2U/orig.jpg" src-onload="https://profilepics.cf.kik.com/k8QrYBISH67TAO9-vzGYkSnCk2U/orig.jpg" class="profile-picture">
                                <img src="https://scancode.kik.com/api/v1/images/remote/96eda985b68171ba8e39d76dd6474d37f9e81d9a/500x500.png?c=0" src-onload="https://scancode.kik.com/api/v1/images/remote/96eda985b68171ba8e39d76dd6474d37f9e81d9a/500x500.png?c=0" hide-on-error="" class="scan-code">
                            </div>
                            <div class="details">
                                <div class="display-name ng-binding">Candie's + Fifth Harmony</div>
                                <div class="username ng-binding">candies</div>
                            </div>
                        </div>
                    </div><!-- end ngIf: $index < 5 --><!-- end ngRepeat: bot in category.bots --><!-- ngIf: $index < 5 --><!-- end ngRepeat: bot in category.bots --><!-- ngIf: $index < 5 --><!-- end ngRepeat: bot in category.bots --><!-- ngIf: $index < 5 --><!-- end ngRepeat: bot in category.bots --><!-- ngIf: $index < 5 --><!-- end ngRepeat: bot in category.bots --><!-- ngIf: $index < 5 --><!-- end ngRepeat: bot in category.bots -->
                    </div>
                </div><!-- end ngRepeat: category in data --><div class="category ng-scope" ng-repeat="category in data" ng-show="true">
                    <div class="category-title ng-binding"> Lifestyle<span class="title-text"></span><span class="category-button" ng-click="viewCategory(category)">See All</span></div>
                    <div class="bots">
                        <!-- ngRepeat: bot in category.bots --><!-- ngIf: $index < 5 --><div class="bot-grid-container ng-scope" ng-repeat="bot in category.bots" ng-if="$index < 5">
                        <div class="bot-grid-item" ng-click="viewBot(bot)">
                            <div class="image-container profile-picture-container">
                                <img inline="" src="https://profilepics.cf.kik.com/LfhWJwFl8Os7riU_-KBkzszlxVQ/orig.jpg" src-onload="https://profilepics.cf.kik.com/LfhWJwFl8Os7riU_-KBkzszlxVQ/orig.jpg" class="profile-picture">
                                <img src="https://scancode.kik.com/api/v1/images/remote/f0a365b2e9342117ca15c57b7021483f5992d36e/500x500.png?c=0" src-onload="https://scancode.kik.com/api/v1/images/remote/f0a365b2e9342117ca15c57b7021483f5992d36e/500x500.png?c=0" hide-on-error="" class="scan-code">
                            </div>
                            <div class="details">
                                <div class="display-name ng-binding">The Weather Channel</div>
                                <div class="username ng-binding">weather</div>
                            </div>
                        </div>
                    </div><!-- end ngIf: $index < 5 --><!-- end ngRepeat: bot in category.bots --><!-- ngIf: $index < 5 --><div class="bot-grid-container ng-scope" ng-repeat="bot in category.bots" ng-if="$index < 5">
                        <div class="bot-grid-item" ng-click="viewBot(bot)">
                            <div class="image-container profile-picture-container">
                                <img inline="" src="https://profilepics.cf.kik.com/mAb8O5q5j_hkqX_5G3ZfIhzQvrg/orig.jpg" src-onload="https://profilepics.cf.kik.com/mAb8O5q5j_hkqX_5G3ZfIhzQvrg/orig.jpg" class="profile-picture">
                                <img src="https://scancode.kik.com/api/v1/images/remote/f009db0e0c14a28f731c965016e2336f707a3aec/500x500.png?c=0" src-onload="https://scancode.kik.com/api/v1/images/remote/f009db0e0c14a28f731c965016e2336f707a3aec/500x500.png?c=0" hide-on-error="" class="scan-code">
                            </div>
                            <div class="details">
                                <div class="display-name ng-binding">Sephora</div>
                                <div class="username ng-binding">sephora</div>
                            </div>
                        </div>
                    </div><!-- end ngIf: $index < 5 --><!-- end ngRepeat: bot in category.bots --><!-- ngIf: $index < 5 --><div class="bot-grid-container ng-scope" ng-repeat="bot in category.bots" ng-if="$index < 5">
                        <div class="bot-grid-item" ng-click="viewBot(bot)">
                            <div class="image-container profile-picture-container">
                                <img inline="" src="https://profilepics.cf.kik.com/EAFO5Mzs6WAfNkRnqGAB6UChDiw/orig.jpg" src-onload="https://profilepics.cf.kik.com/EAFO5Mzs6WAfNkRnqGAB6UChDiw/orig.jpg" class="profile-picture">
                                <img src="https://scancode.kik.com/api/v1/images/remote/3b20b0fc353d6f9c5653d2db10cb0a1f54537154/500x500.png?c=0" src-onload="https://scancode.kik.com/api/v1/images/remote/3b20b0fc353d6f9c5653d2db10cb0a1f54537154/500x500.png?c=0" hide-on-error="" class="scan-code">
                            </div>
                            <div class="details">
                                <div class="display-name ng-binding">style q + a</div>
                                <div class="username ng-binding">makeoverbot</div>
                            </div>
                        </div>
                    </div><!-- end ngIf: $index < 5 --><!-- end ngRepeat: bot in category.bots --><!-- ngIf: $index < 5 --><div class="bot-grid-container ng-scope" ng-repeat="bot in category.bots" ng-if="$index < 5">
                        <div class="bot-grid-item" ng-click="viewBot(bot)">
                            <div class="image-container profile-picture-container">
                                <img inline="" src="https://profilepics.cf.kik.com/WRJ1Y3aJSWKHG_FPh8zHp2jl5Rs/orig.jpg" src-onload="https://profilepics.cf.kik.com/WRJ1Y3aJSWKHG_FPh8zHp2jl5Rs/orig.jpg" class="profile-picture">
                                <img src="https://scancode.kik.com/api/v1/images/remote/1c78b1137f01861fa08444e8216b32650aaab529/500x500.png?c=0" src-onload="https://scancode.kik.com/api/v1/images/remote/1c78b1137f01861fa08444e8216b32650aaab529/500x500.png?c=0" hide-on-error="" class="scan-code">
                            </div>
                            <div class="details">
                                <div class="display-name ng-binding">H&amp;M</div>
                                <div class="username ng-binding">hm</div>
                            </div>
                        </div>
                    </div><!-- end ngIf: $index < 5 --><!-- end ngRepeat: bot in category.bots --><!-- ngIf: $index < 5 --><div class="bot-grid-container ng-scope" ng-repeat="bot in category.bots" ng-if="$index < 5">
                        <div class="bot-grid-item" ng-click="viewBot(bot)">
                            <div class="image-container profile-picture-container">
                                <img inline="" src="https://profilepics.cf.kik.com/ZPwihZ2W0IqMQ8iNPSB56kTdTCo/orig.jpg" src-onload="https://profilepics.cf.kik.com/ZPwihZ2W0IqMQ8iNPSB56kTdTCo/orig.jpg" class="profile-picture">
                                <img src="https://scancode.kik.com/api/v1/images/remote/107fc25376c3e2de8b453ae0a5acff8904cd896e/500x500.png?c=0" src-onload="https://scancode.kik.com/api/v1/images/remote/107fc25376c3e2de8b453ae0a5acff8904cd896e/500x500.png?c=0" hide-on-error="" class="scan-code">
                            </div>
                            <div class="details">
                                <div class="display-name ng-binding">Kik Points</div>
                                <div class="username ng-binding">kikpoints</div>
                            </div>
                        </div>
                    </div><!-- end ngIf: $index < 5 --><!-- end ngRepeat: bot in category.bots --><!-- ngIf: $index < 5 --><!-- end ngRepeat: bot in category.bots --><!-- ngIf: $index < 5 --><!-- end ngRepeat: bot in category.bots -->
                    </div>
                </div><!-- end ngRepeat: category in data --><div class="category ng-scope" ng-repeat="category in data" ng-show="true">
                    <div class="category-title ng-binding"> Games<span class="title-text"></span><span class="category-button" ng-click="viewCategory(category)">See All</span></div>
                    <div class="bots">
                        <!-- ngRepeat: bot in category.bots --><!-- ngIf: $index < 5 --><div class="bot-grid-container ng-scope" ng-repeat="bot in category.bots" ng-if="$index < 5">
                        <div class="bot-grid-item" ng-click="viewBot(bot)">
                            <div class="image-container profile-picture-container">
                                <img inline="" src="https://profilepics.cf.kik.com/bXrFC-GiF3fksteae3pzcb10ZsU/orig.jpg" src-onload="https://profilepics.cf.kik.com/bXrFC-GiF3fksteae3pzcb10ZsU/orig.jpg" class="profile-picture">
                                <img src="https://scancode.kik.com/api/v1/images/remote/8cc5bae40cbd4873fd04721956e01fa4a59287da/500x500.png?c=0" src-onload="https://scancode.kik.com/api/v1/images/remote/8cc5bae40cbd4873fd04721956e01fa4a59287da/500x500.png?c=0" hide-on-error="" class="scan-code">
                            </div>
                            <div class="details">
                                <div class="display-name ng-binding">J-14 Celeb Quizzes</div>
                                <div class="username ng-binding">j14</div>
                            </div>
                        </div>
                    </div><!-- end ngIf: $index < 5 --><!-- end ngRepeat: bot in category.bots --><!-- ngIf: $index < 5 --><div class="bot-grid-container ng-scope" ng-repeat="bot in category.bots" ng-if="$index < 5">
                        <div class="bot-grid-item" ng-click="viewBot(bot)">
                            <div class="image-container profile-picture-container">
                                <img inline="" src="https://profilepics.cf.kik.com/ZHh2oLqzaMNjyf7hMvT80NqxaW4/orig.jpg" src-onload="https://profilepics.cf.kik.com/ZHh2oLqzaMNjyf7hMvT80NqxaW4/orig.jpg" class="profile-picture">
                                <img src="https://scancode.kik.com/api/v1/images/remote/8fd0f66076e5caf5e5c4b9cbb73ef7bbef54c237/500x500.png?c=0" src-onload="https://scancode.kik.com/api/v1/images/remote/8fd0f66076e5caf5e5c4b9cbb73ef7bbef54c237/500x500.png?c=0" hide-on-error="" class="scan-code">
                            </div>
                            <div class="details">
                                <div class="display-name ng-binding">GalatronVS</div>
                                <div class="username ng-binding">galatronvs</div>
                            </div>
                        </div>
                    </div><!-- end ngIf: $index < 5 --><!-- end ngRepeat: bot in category.bots --><!-- ngIf: $index < 5 --><div class="bot-grid-container ng-scope" ng-repeat="bot in category.bots" ng-if="$index < 5">
                        <div class="bot-grid-item" ng-click="viewBot(bot)">
                            <div class="image-container profile-picture-container">
                                <img inline="" src="https://profilepics.cf.kik.com/uWcFLLKWHH8po-gk7zYJ3uMX9vw/orig.jpg" src-onload="https://profilepics.cf.kik.com/uWcFLLKWHH8po-gk7zYJ3uMX9vw/orig.jpg" class="profile-picture">
                                <img src="https://scancode.kik.com/api/v1/images/remote/8e8af19ac22bf250378d4f243c39611512158376/500x500.png?c=0" src-onload="https://scancode.kik.com/api/v1/images/remote/8e8af19ac22bf250378d4f243c39611512158376/500x500.png?c=0" hide-on-error="" class="scan-code">
                            </div>
                            <div class="details">
                                <div class="display-name ng-binding">Arterra</div>
                                <div class="username ng-binding">arterra</div>
                            </div>
                        </div>
                    </div><!-- end ngIf: $index < 5 --><!-- end ngRepeat: bot in category.bots --><!-- ngIf: $index < 5 --><div class="bot-grid-container ng-scope" ng-repeat="bot in category.bots" ng-if="$index < 5">
                        <div class="bot-grid-item" ng-click="viewBot(bot)">
                            <div class="image-container profile-picture-container">
                                <img inline="" src="https://profilepics.cf.kik.com/i6ltfPaSNaIaFC6_CBmzSYoF9xU/orig.jpg" src-onload="https://profilepics.cf.kik.com/i6ltfPaSNaIaFC6_CBmzSYoF9xU/orig.jpg" class="profile-picture">
                                <img src="https://scancode.kik.com/api/v1/images/remote/aeb2cc50db38a4a96d340759aec120febfde0643/500x500.png?c=0" src-onload="https://scancode.kik.com/api/v1/images/remote/aeb2cc50db38a4a96d340759aec120febfde0643/500x500.png?c=0" hide-on-error="" class="scan-code">
                            </div>
                            <div class="details">
                                <div class="display-name ng-binding">Tickers the Bot</div>
                                <div class="username ng-binding">tictactoebot</div>
                            </div>
                        </div>
                    </div><!-- end ngIf: $index < 5 --><!-- end ngRepeat: bot in category.bots --><!-- ngIf: $index < 5 --><div class="bot-grid-container ng-scope" ng-repeat="bot in category.bots" ng-if="$index < 5">
                        <div class="bot-grid-item" ng-click="viewBot(bot)">
                            <div class="image-container profile-picture-container">
                                <img inline="" src="https://profilepics.cf.kik.com/gzN0VrPFv8mb-JboTYjJx59M2Bs/orig.jpg" src-onload="https://profilepics.cf.kik.com/gzN0VrPFv8mb-JboTYjJx59M2Bs/orig.jpg" class="profile-picture">
                                <img src="https://scancode.kik.com/api/v1/images/remote/daafb20a64a10d9ebae4aef53aa98a43cedf793f/500x500.png?c=0" src-onload="https://scancode.kik.com/api/v1/images/remote/daafb20a64a10d9ebae4aef53aa98a43cedf793f/500x500.png?c=0" hide-on-error="" class="scan-code">
                            </div>
                            <div class="details">
                                <div class="display-name ng-binding">Zombie Invasion</div>
                                <div class="username ng-binding">zurvival</div>
                            </div>
                        </div>
                    </div><!-- end ngIf: $index < 5 --><!-- end ngRepeat: bot in category.bots --><!-- ngIf: $index < 5 --><!-- end ngRepeat: bot in category.bots -->
                    </div>
                </div><!-- end ngRepeat: category in data -->
                </div>
                </category-grid>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block my_js %}
<script>
    $('.details').click(

            function(){
                if( $(this).attr('st') == 'off' ){
                    //未展开
                    $(this).attr('st','on');
                    //展开
                    $(this).html('收起');
                    $(this).parent().next().show();
                    $(this).css('background','url(/template/web/img/icon190.png) left center no-repeat')

                }else{
                    $(this).attr('st','off');
                    //收起
                    $(this).html('查看详情');
                    $(this).parent().next().hide();
                    $(this).css('background','url(/template/web/img/icon191.png) left center no-repeat')
                }
            }
    )

</script>


{% endblock %}