<!DOCTYPE html>
<html lang="en">
{% load autoVersion %}
{% load compress %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}21KE手机个性化定制{% endblock %}</title>

{% compress css%}
    <!-- Bootstrap Core CSS -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="/static/css/caredear-maker.css" rel="stylesheet">

    <link href="/static/css/home.css" rel="stylesheet">

    <link href="/static/css/animate.min.css" rel="stylesheet">

    <link href="/static/css/toastr.css" rel="stylesheet">

{% endcompress %}

    {% block your_head %}{% endblock %}
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <a href="/">
                    <img src="{% auto_version '/static/images/21KE.png' %}">
                    <h2 class="navbar-text">21KE手机定制系统</h2>
                </a>
            </div>
        </div>
        <!-- /.navbar-header -->
    
        <ul class="navbar-top-links navbar-right">
            <li>
                <a class='btn btn-danger btn-x' href="javascript:void(0);" onclick="startMaker()"><i class="fa fa-edit nav-btn-text">&nbsp;开始定制</i></a>
            </li>

            <li>
                <a class='btn btn-success btn-x' href='/v1/maker/help'><i class="fa fa-support nav-btn-text">&nbsp;帮助中心</i></a>
            </li>
            <li>
                <a class='btn btn-primary btn-x' href="javascript:void(0);" onclick="$('#myMakerModal').modal('show')"><i class="fa fa-user nav-btn-text">&nbsp;我的定制</i></a>
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->
    </div>
</nav>

<!-- Page Content -->
{% block body_block %}{% endblock %}


<div class="modal fade" id="findResultModal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="resultTitle">无法找回定制包</h4>
            </div>
            <div class="modal-body" id="findResult">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" onclick="$('#findModal').modal('show')" type="button">找回定制包</button>
                <button class="btn btn-primary" data-dismiss="modal" data-toggle="modal" aria-label="Close" type="button">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="findModal" tabindex="-1" >
    <div class="modal-dialog modal-dialog-center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-toggle="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">找回定制包</h2>
            </div>
            <div class="modal-body">
                <h4 id="findPrompt">输入定制包下载代码（6位字母或数字），找回并重新编辑定制包</h4>
                <form id="sms-form">
                    <p><input type="text" class="form-control" name="pin-code" id="pin-code" placeholder="定制包代码" maxlength="6"></p>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="retrieveMaker()" type="button">找回定制包</button>
                <button class="btn btn-primary" data-dismiss="modal" data-toggle="modal" aria-label="Close" type="button">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="resumeModal" tabindex="-1" >
    <div class="modal-dialog modal-dialog-center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-toggle="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">欢迎回来</h2>
            </div>
            <div class="modal-body">
               <h4> 您可以编辑现有的手机定制， 或者重新开始全新的定制</h4>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" onclick="continueMaker()" type="button">恢复并继续设计</button>
                <button class="btn btn-danger" data-dismiss="modal" onclick="renewMaker()" type="button">重新设计</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myMakerModal" tabindex="-1" >
    <div class="modal-dialog modal-dialog-center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-toggle="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">我的定制</h2>
            </div>
            <div class="modal-body">
               <h4>您可以通过登录21KE账号，或者输入定制包下载代码，找回已有的定制包。</h4>
            </div>
            <div class="modal-footer">
<!-- TODO: finish Login functionality
                <button class="btn btn-primary" data-dismiss="modal" onclick="window.location.href='/login'" type="button">登录21KE账号</button>
-->
                <button class="btn btn-primary" data-dismiss="modal" onclick="window.location.href='/v1/maker/getmypackages'" type="button">登录21KE账号</button>
                <button class="btn btn-primary" data-dismiss="modal" onclick="$('#findModal').modal('show')" type="button">输入定制包代码</button>
            </div>
        </div>
    </div>
</div>
{% compress js %}
    <!-- jQuery -->
    <script src="/static/js/jquery-1.11.3.min.js" type="text/javascript"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/dist/js/sb-admin-2.js"></script>

    <script type="text/javascript" src="/static/js/toastr.js"></script>

    <script src="/static/js/caredear_common.js"></script>

    <script src="/static/js/js.cookie.js"></script>

    <script type="text/javascript">

    var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?3d27fa94d12b31d0504396f4cb6daccd";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();

    window.onload = function() {
    }

    function continueMaker() {
        window.location.href="/v1/maker/cust/submit";
    }

    function renewMaker() {
        deleteAllCookies();
        window.location.href="/v1/maker/cust/model";
    }

    function retrieveMaker() {
        var pcode = document.getElementById("pin-code").value.toLowerCase();
        var mobileReg = /^[a-z0-9]*$/;
        if (pcode.length != 6 || mobileReg.test(pcode)==false) {
            showToast('error',"对不起，您输入的定制包代码 "+pcode+" 有错误。请输入正确的定制包代码（6位字母或数字）。");
            return;
        }
        $('#findModal').modal('hide');
        $.ajax({
            url: '/v1/maker/retrieve/',
            async:true,
            timeout : 180000,
            dataType: 'json',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify( { "pinCode":pcode } ),
            success: function(data) {
                cdLog(JSON.stringify(data));
                var result = JSON.parse(JSON.stringify(data));
                if (result.code == "0") {
                    deleteAllCookies();
                    restoreAllCookies(result);
                    window.location.href="/v1/maker/cust/submit";
                } else if (result.code == "4" || result.code == "5") {
                    document.getElementById("findResult").innerHTML="对不起，找不到代码为 "+pcode+" 的定制包，请重新输入定制代码";
                    $('#findResultModal').modal('show');
                } else {
                    document.getElementById("findResult").innerHTML="服务器故障，错误代码:"+result.code+"，请稍后再试!";
                    $('#findResultModal').modal('show');
                }
            },
            error: function( jqXhr, textStatus, errorThrown ){
                if (errorThrown == "timeout") {
                    document.getElementById("findResult").innerHTML="服务器请求超时，请稍后再试!";
                } else {
                    document.getElementById("findResult").innerHTML=errorThrown;
                }
                $('#findResultModal').modal('show');
            }
        });
    }

    function startMaker() {
        var mid = getCookie("makerid");
        if (mid != "") {
            $('#resumeModal').modal('show');
        }
        else {
            setCookie("skipguide", "");
            window.location.href="/v1/maker/cust/model";
        }
    }
    
</script>
{% endcompress %}

{% compress js inline%}
{% block your_js %}
{% endblock %}
{% endcompress %}

</body>
</html>
