{% extends 'v2/base_index.html' %}

{% load staticfiles %}

{% block title %}我的定制{% endblock %}

{% block your_css %}

{% endblock %}

{% block body_block %}
<br/>
<div>
{% if pkgs %}
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>定制代码</th>
                    <th>定制机型</th>
                    <th>定制日期</th>
                </tr>
            </thead>
            <tbody>
                {% for item in pkgs %}
                <tr>
                    <td>{{ item.pincode }}</td>
                    <td>{{ item.mod }}</td>
                    <td>{{ item.completed }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="align-center">
    {% ifnotequal curPage 1 %}
        <a href="?curCate={{ curCate }}&&curPage={{ curPage }}&&allPage={{ allPage }}&&pageType=up">
            上一页
        </a>
    {% endifnotequal %}
    第{{ curPage }}/{{ allPage }}页
    {% ifnotequal curPage allPage %}
        <a href="?curCate={{ curCate }}&&curPage={{ curPage }}&&allPage={{ allPage }}&&pageType=down">
            下一页
        </a>
    {% endifnotequal %}
    </div>
{% else %}
    <div class="col-lg-3 col-md-3 col-sm-4">
    </div>
    <div class="col-lg-9 col-md-9 col-sm-8">
        <h3>你还没有完成任何定制包！是否开始一个新的定制？<button class="btn btn-lg btn-danger" onclick="renewMaker()" type="button">开始定制</button></h3>
        
    </div>
{% endif %}
</div>

<div class="modal fade" id="findResultModal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="resultTitle">无法找回定制包</h4>
            </div>
            <div class="modal-body" id="findResult">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" data-toggle="modal" aria-label="Close" type="button">关闭</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block your_js %}
<script type="text/javascript">
    function renewMaker() {
        var mid = getCookie("makerid");
        if (mid != "") {
            window.location.href="/v1/maker/cust/submit";
        } else {
            deleteAllCookies();
            window.location.href="/v1/maker/cust/model";
        }
    }
    (function($){
        $("table tr").click(function()
        {
            var td = $(this).find("td").eq(0);
            var pcode = "";
            if (td) {
              pcode = td.text();
            }
            if (pcode == "") {
                return;
            }
            $.ajax({
                url: '/v1/maker/retrieve/',
                async:true,
                timeout : 180000,
                dataType: 'json',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify( { "pinCode":pcode } ),
                success: function(data) {
                    cdLog(JSON.stringify(data));
                    var result = JSON.parse(JSON.stringify(data));
                    if (result.code == "0") {
                        deleteAllCookies();
                        restoreAllCookies(result);
                        window.location.href="/v1/maker/cust/submit";
                    } else if (result.code == "4" || result.code == "5") {
                        document.getElementById("findResult").innerHTML="对不起，找不到代码为 "+pcode+" 的定制包，请重新选择定制代码";
                        $('#findResultModal').modal('show');
                    } else {
                        document.getElementById("findResult").innerHTML="服务器故障，错误代码:"+result.code+"，请稍后再试!";
                        $('#findResultModal').modal('show');
                    }
                },
                error: function( jqXhr, textStatus, errorThrown ){
                    if (errorThrown == "timeout") {
                        document.getElementById("findResult").innerHTML="服务器请求超时，请稍后再试!";
                    } else {
                        document.getElementById("findResult").innerHTML=errorThrown;
                    }
                    $('#findResultModal').modal('show');
                }
            });
        })
    })(jQuery);
</script>
{% endblock %}
