{% extends 'v2/base_index.html' %}

{% load staticfiles %}

{% block title %}帮助{% endblock %}


{% block your_css %}
<style>
    .align-center {
        margin:2px auto;
        text-align:center;
    }

    .modal-dialog-center {
        margin-top: 20%;
    }
</style>
{% endblock %}

{% block body_block %}
</br>
<div class="container" style="padding:0 15px">
            <ul class="nav nav-pills">
                <li class="active"><a href="#faq" data-toggle="tab">常见问题</a>
                </li>
                <li><a href="#feedback" data-toggle="tab">意见反馈</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="faq">
                    {% include "v2/include/faq.html" %}
                </div>
                <div class="tab-pane fade" id="feedback">
                    {% include "v2/include/feedback.html" %}
                </div>
            </div>
</div>


{% endblock %}

{% block your_js %}
<script type="text/javascript">
    (function($){
        function processForm( e ){

            if (document.getElementById('desp').value.length==0) {
               showToast('error','问题反馈不能为空，请输入');
               return false;
            }

            $.ajax({
                url: '/feedback/',
                dataType: 'json',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify( { "src" : $('#src').val(), "ver": $('#ver').val(), "uid": $('#uid').val(), "desp": $('#desp').val(), "contacts": $('#contacts').val()} ),
                success: function(data) {
                    cdLog(JSON.stringify(data));
                    $('#changeModal').modal('show');
                },
                error: function( jqXhr, textStatus, errorThrown ){
                    cdLog( errorThrown );
                }
            });

            e.preventDefault();
        }

        $('#fb-form').submit( processForm );
    })(jQuery);
</script>
{% endblock %}
