@charset "UTF-8";

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    font-size:100%;
    vertical-align:baseline
}
html {
    line-height:1
}
ol,ul {
    list-style:none
}
table {
    border-collapse:collapse;
    border-spacing:0
}
caption,td,th {
    text-align:left
}
blockquote,q {
    quotes:none
}
blockquote:after,blockquote:before,q:after,q:before {
    content:"";
    content:none
}
a img {
    border:none
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
    display:block
}
html {
    -webkit-text-size-adjust:none
}
* {
    font-size:inherit;
    color:inherit;
    line-height:inherit
}
body {
    -moz-user-select:none;
    -webkit-user-select:none;
    -webkit-tap-highlight-color:transparent
}
body {
    -webkit-overflow-scrolling:touch
}
abbr,address,article,aside,audio,b,blockquote,body,body div,caption,cite,code,dd,del,details,dfn,dl,dt,em,fieldset,figure,footer,form,h1,h2,h3,h4,h5,h6,header,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font-weight:400;
    vertical-align:baseline;
    background:0 0
}
html {
    box-sizing:border-box
}
*,:after,:before {
    box-sizing:inherit
}
body {
    background-color:#f5f5f5;
    font-family:"Microsoft Yahei",Tahoma,Arial,sans-serif;
    font-size:14px;
    color:#333;
    width:100%
}
embed,img,object {
    max-width:100%
}
ul {
    list-style:none
}
a {
    text-decoration:none;
    color:#333;
    -webkit-tap-highlight-color:transparent;
    z-index:1
}
img {
    vertical-align:middle
}
.bottom {
    float:bottom
}
.clearfix:after,.clearfix:before {
    content:"\0020";
    display:block;
    height:0;
    overflow:hidden
}
.clearfix:after {
    clear:both
}
.clearfix {
    zoom:1
}
.clearfix {
    overflow:hidden
}
.c2fbe7f {
    color:#2fbe7f
}
.pl15r13 {
    padding-left:15px;
    padding-right:13px
}
.hide {
    display:none
}
.right {
    float:right
}
.refresh {
    width:13px;
    height:15px;
    background-position:0 -738.5px
}
.text-overflow {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}
.header_title_text {
    text-align:left;
    font-size:16px;
    height:40px;
    width: 200px;
    position:fixed;
    top: 0;
    line-height:40px;
    margin:0 0 0 100px;
    z-index:41;
    background:#fff
    border-bottom:1px solid #c6d0da;
}

#dt-hd-nav {
    position:absolute;
    right:0;
    top:0;
    font-size:0;
    color:#000;
    z-index:40;
    padding:0px 8px;
    height: 40px;
}

.pg-ft {
    padding:15px 0;
    text-align:center;
    border-top:1px solid #ccc;
    background-color:#E7E7E7
}
.pg-ft .terminal-nav li {
    display:inline
}
.pg-ft .terminal-nav li a {
    font-size:14px;
    color:#000;
    display:inline-block;
    padding:0 6px;
    border-radius:7px;
    line-height:100%
}
.pg-ft .terminal-nav li a.active {
    color:#3399ff;
}
.pg-ft .i-sep {
    border-left:1px solid #c4c4c4;
    margin:0 8px;
    display:inline-block;
    width:1px;
    height:14px;
    position:relative;
    bottom:-1px
}
.pg-ft .company-info {
    font-size:12px;
    color:#878787;
    margin-top:20px
}
div.pg-ft{
    margin-top: 0;
    background-color: #CAE1FF;
}

/*nodata begin*/
.nodata {
    text-align:center;
    margin-top:115px;
    margin-bottom:115px;
    font-size:16px
}
.nodata {
    text-align:center;
    margin-bottom:115px; 
    margin-top:115px;
    font-size:16px
}
.nodata span {
    font-weight:700;
    color:red
}
.nodata h1 {f
    ont-weight:700
}
.nodata summary {
    color:#999;
    margin-top:16px
}
/*nodata end*/
/*pager begin*/
[data-role=widget-pagination] {
    height:65px;
    background-color:#fff;
    border:1px solid #fff;
    text-align:center;
    overflow:hidden;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:15px 0
}
[data-role=widget-pagination]>a,[data-role=widget-pagination]>div {
    float:left;
    display:block;
    height:35px;
    line-height:35px;
    font-size:14px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
[data-role=widget-pagination]>a {
    width:31.25%;
    background-color:#6fd2a6;
    color:#fff;
    display:block
}
[data-role=widget-pagination]>a:first-of-type {
    margin-left:4.6875%
}
[data-role=widget-pagination]>a:last-of-type {
    margin-right:4.6875%
}
[data-role=widget-pagination]>div {
    width:28.125%;
    background-color:#fff;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    color:#000;
    position:relative
}
[data-role=widget-pagination] .widget-pagination-current-page {
    display:block;
    width:100%;
    height:100%
}
[data-role=widget-pagination]>.widget-pagination-disable {
    background-color:#eee;
    color:#666
}
[data-role=widget-pagination] .widget-pagination-pages {
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    opacity:0
}
/*pager end*/

.m3icon {
    background: url("/static/images/to8to/m3icon.png") no-repeat; 
    background-size: 50px; }

.icon-nav-btn{background-position: -27px -503px;width: 24px;height: 24px;margin-top:15px;}
.icon-zxtuku-enter {background-position: 0 0; }
.icon-zxgl-enter { background-position: 0 -58px; }
.icon-zxgx-enter {background-position: 0 -117px;}
.icon-pptm-enter {background-position: 0 -176px;}
.icon-tel-green {background-position: -24px -468px;width: 24px;height: 24px;}
.icon-gn-home{margin-left:20px;background-position: 0px -565px;width: 20px;height: 20px;}
.icon-gn-maker{margin-left:20px;background-position: -0px -468px;width: 20px;height: 20px;}
.icon-gn-cases{margin-left:20px;background-position: -0px -493px;width: 20px;height: 20px;}
.icon-gn-service{margin-left:20px;background-position: -0px -468px;width: 20px;height: 20px;}
.icon-gn-account{margin-left:20px;background-position: -0px -612px;width: 20px;height: 20px;}