.content-wrapper .gongneng {
	margin: 0 15px;
	margin-bottom:80px;
	overflow:hidden;
}
.content-wrapper .gongneng .gongneng_box {
	margin: 0 auto;
	width: 100%;
}
.content-wrapper .gongneng .gongneng_box dl {
	width: 120px;
	float: left;
	margin: 20px 30px 0 0;
	position: relative;
}
.content-wrapper .gongneng .gongneng_box dl dt {
	width: 120px;
	height: 120px;
}
.content-wrapper .gongneng .gongneng_box dl .featureSel_item {
	width: 100px;
	height: 100px;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	text-align: center;
	vertical-align: center;
	position: relative;
}

/* .content-wrapper .gongneng .gongneng_box dl .featureSel_item .icon {
	width: 70px;
	height: 70px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-top: 5px;
} */

.content-wrapper .gongneng .gongneng_box dl .featureSel_item h2 {
	margin-top: 5px;
	font-size: 16px;
	color:#fff;
	position: relative;
	bottom: -105px;
}



.content-wrapper .gongneng .gongneng_box dl dd {
	margin: 10px auto 0;
	padding-bottom: 10px;
}
.content-wrapper .gongneng .gongneng_box dl dd a {
	width: 90px;
	color: #fff;
	height: 35px;
	margin: 0 auto;
	display: block;
	font-size: 12px;
	line-height: 35px;
	text-align: center;
	border-radius: 5px;
	background: #ff9957;
	text-decoration: none;
}
.content-wrapper .gongneng .gongneng_box dl dd.icon {
	background: url(../img/icon104.png) no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	width: 40px;
	height: 40px;
	margin: 0;
}
.content-wrapper .gongneng .gongneng_box dl dd .switch {
	width: 60px;
	float: none;
	margin: 0 auto;
}
.featureSel_z{
	position: relative;
}
.featureSel_z .newFeature{
	width: 52px; 
	height: 32px;
	background: url(../img/icon195.png) no-repeat ;
	position: absolute;
	right: -10px;
	top: -10px;
	display: none;
}
.featureSel_z .newFeature.active{
	display: block;
}

.content-wrapper .fenlei1 .fenleibox{
     float:left;
     position: relative;
}


/* on off开关按钮 */
.switch {
	float: left;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	position: relative;
	text-align: left;
	overflow: hidden;
	line-height: 8px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	width: 60px;
	height: 23px;
}
.switch .switch-animate {
	width: 150px;
	height: 23px;
	display: inline-block;
	position: relative;
	top: 0;
	-webkit-transition: left 0.5s;
	-moz-transition: left 0.5s;
	-o-transition: left 0.5s;
	transition: left 0.5s;
}
.switch .switch-animate.switch-on {
	left: 0;
}
.switch .switch-animate.switch-off {
	left: -52%;
}
 .switch .switch-animate span {
	float: left;
	width: 30px;
	height: 23px;
	display: block;
	text-align: center;
	line-height: 23px;
	font-size: 12px;
	padding: 0;
	border: 0;
	color:#000;
}
.switch .switch-animate .left {
	background: #00a65a;
	color: #444;
}
 .switch .switch-animate .center {
	background: #e3e7eb;
}
.switch .switch-animate .right {
	background: #dd4b39;
}