<!DOCTYPE html>
<html lang="en">
{% load autoVersion %}
{% load compress %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}21KE手机个性化定制{% endblock %}</title>
{% compress css%}
    <!-- Bootstrap Core CSS -->
    <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="/static/css/toastr.css" rel="stylesheet">

    <link href="/static/css/caredear-maker.css" rel="stylesheet">
{% endcompress %}

{% compress css inline%}
    {% block your_css %}{% endblock %}
{% endcompress %}

{% if use_music_crop %}
{% compress css %}
    <link href="/static/css/playlist.css" rel="stylesheet" />
{% endcompress %}
{% endif %}
</head>

<body>

<!-- Navigation -->
{% block base_head_block %}
{% include 'v1/include/base_head.html' %}
{% endblock %}

<div class="container">
        {% block menu_left_block %} 
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4" id="menu_left">
            <ul class="list-group collapse navbar-collapse">
                <a href="/v1/maker/cust/welcome/" class="list-group-item {% block welcome_active %}{% endblock %}">
                    {% block icon-welcome %}<span class="si si-menu si-ecard"></span>{% endblock %}
                    <span class="menu-text">机器人设定</span>
                    {% block icon-welcome-active %}<span id="si-mcheck-ecard" class="si si-mcheck"></span>{% endblock %}
                </a>
                <a href="/v1/maker/cust/app/" class="list-group-item {% block app_active %}{% endblock %}">
                    {% block icon-app %}<span class="si si-menu si-app"></span>{% endblock %}
                    <span class="menu-text">机器人接入</span>
                    {% block icon-app-active %}<span id="si-mcheck-app" class="si si-mcheck"></span>{% endblock %}
                </a>
                <a href="/v1/maker/cust/animation/" class="list-group-item {% block animation_active %}{% endblock %}">
                    {% block icon-boot-animation %}<span class="si si-menu si-anim"></span>{% endblock %}
                    <span class="menu-text">知识库</span>
                    {% block icon-boot-animation-active %}<span id="si-mcheck-anim" class="si si-mcheck"></span>{% endblock %}
                </a>
                <a href="/v1/maker/cust/ringtone_boot/" class="list-group-item {% block ringtone_boot_active %}{% endblock %}">
                    {% block icon-ring-boot %}<span class="si si-menu si-rboot"></span>{% endblock %}
                    <span class="menu-text">功能选择</span>
                    {% block icon-ring-boot-active %}<span id="si-mcheck-rboot" class="si si-mcheck"></span>{% endblock %}
                </a>
                <a href="/v1/maker/cust/wallpaper_lock/" class="list-group-item {% block wallpaper_lock_active %}{% endblock %}">
                    {% block icon-wp-lock %}<span class="si si-menu si-wlock"></span>{% endblock %}
                    <span class="menu-text">数据概览</span>
                    {% block icon-wp-lock-active %}<span id="si-mcheck-wlock" class="si si-mcheck"></span>{% endblock %}
                </a>
                <a href="/v1/maker/cust/ringtone_call/" class="list-group-item {% block ringtone_call_active %}{% endblock %}">
                    {% block icon-ring-call %}<span class="si si-menu si-rcall"></span>{% endblock %}
                    <span class="menu-text">用户中心</span>
                    {% block icon-ring-call-active %}<span id="si-mcheck-rcall" class="si si-mcheck"></span>{% endblock %}
                </a>
            </ul>
        </div>
        {% endblock %}
        {% block menu_right_block %}{% endblock %}
</div>


{% block modal_block %}
{% endblock %}


{% compress js %}
    <!-- jQuery -->
    <script src="/static/js/jquery-1.11.3.min.js" type="text/javascript"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/dist/js/sb-admin-2.js"></script>


    <script src="/static/js/js.cookie.js"></script>

    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>

    <script type="text/javascript" src="/static/js/toastr.js"></script>

    <script type="text/javascript" src="/static/js/caredear_common.js"></script>
{% endcompress %}

{% if use_upload %}
{% compress js %}
<script type="text/javascript" src="/static/js/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="/static/js/plupload/i18n/zh_CN.js"></script>
<script type="text/javascript" src="/static/js/ui.js"></script>
<script type="text/javascript" src="/static/js/qiniu.js"></script>
<script type="text/javascript" src="/static/js/highlight/highlight.js"></script>
<script type="text/javascript" src="/static/js/md5-min.js"></script>
<script type="text/javascript" src="/static/js/spark-md5.js"></script>
{% endcompress %}
{% endif %}

{% if use_music_crop %}
{% compress js %}
<script type="text/javascript" src="/static/js/waveform_playlist.js"></script>
<script type="text/javascript" src="/static/js/waveform/mixins/mixin.js"></script>
<script type="text/javascript" src="/static/js/waveform/mixins/observer.js"></script>
<script type="text/javascript" src="/static/js/waveform/mixins/conversions.js"></script>
<script type="text/javascript" src="/static/js/waveform/mixins/curves.js"></script>
<script type="text/javascript" src="/static/js/waveform/states/file_drop.js"></script>
<script type="text/javascript" src="/static/js/waveform/states/cursor.js"></script>
<script type="text/javascript" src="/static/js/waveform/states/fadein.js"></script>
<script type="text/javascript" src="/static/js/waveform/states/fadeout.js"></script>
<script type="text/javascript" src="/static/js/waveform/states/select.js"></script>
<script type="text/javascript" src="/static/js/waveform/states/shift.js"></script>
<script type="text/javascript" src="/static/js/waveform/local_storage.js"></script>
<script type="text/javascript" src="/static/js/waveform/config.js"></script>
<script type="text/javascript" src="/static/js/waveform/track_render.js"></script>
<script type="text/javascript" src="/static/js/waveform/fades.js"></script>
<script type="text/javascript" src="/static/js/waveform/playout.js"></script>
<script type="text/javascript" src="/static/js/waveform/track.js"></script>
<script type="text/javascript" src="/static/js/waveform/time_scale.js"></script>
<script type="text/javascript" src="/static/js/waveform/controls.js"></script>
<script src="/static/js/caredear_music.js"></script>
<script type="text/javascript" src="/static/js/music_crop.js"></script>
{% endcompress %}
{% endif %}

{% if use_img_crop %}
{% compress js %}
<script type="text/javascript" src="/static/js/jquery.Jcrop.js"></script>
<script type="text/javascript" src="/static/js/img_crop.js"></script>
{% endcompress %}
{% endif %}

{% compress js inline%}
{% block your_js %}
{% endblock %}
{% endcompress %}


</body>
</html>
