{% extends 'v1/base.html' %}

{% load staticfiles %}
{% load autoVersion %}
{% block title %}请确认您的定制内容{% endblock %}
{% block submit_active %}active{% endblock %}

{% block your_css %}
{% endblock %}

{% block modal_block %}
{% include 'v1/include/modal/appDetailModal.html' %}
<div class="modal fade" id="confirmModal" tabindex="-1" data-backdrop="static" 
   data-keyboard="false" >
    <div class="modal-dialog modal-dialog-center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title modal-cd-title">开始制作</span>
            </div>
            <div class="modal-body">
                <span class="modal-cd-body">给您制作的定制包起个名字，方便您或者您的家人查看：<span id="chLeft">（不超过10个字）</span></span>
                <form id="desp-form">
                    <div>
                        <input type="text" class="form-control" name="bind_desp" id="bind_desp" placeholder="默认将自动以制作时间戳命名" maxlength="10" onkeyup="checkLength(this)">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button onclick="submit()" type="button" class="btn btn-cd-g">提交</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" aria-label="Close">取消</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="waitingModal" tabindex="-1" data-backdrop="static" 
   data-keyboard="false" >
    <div class="modal-dialog modal-dialog-center" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="{% auto_version '/static/images/loading.gif' %}" style="display:inline-block;">
                <h4 style="display:inline-block; padding-left:10px;"> 正在处理，请稍候。。。</h4>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="submitResultModal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-center" role="document">
        <div class="modal-content">
            <div class="modal-header">
               <div>
                 <span class="modal-title modal-cd-title" id="resultTitle">定制完成</span>
               </div>
            </div>
            <div class="modal-body modal-cd-body" >
                 <span id="resultContent"></span>
            </div>
            <div class="modal-footer">
                <button onclick="editSMS()" id="btn-sms" type="button" class="btn btn-cd-g align-center"   data-dismiss="modal">下一步</button>
                <button onclick="finished()" id="btn-exit" type="button" class="btn btn-primary align-center" >关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="smsModal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-center" role="document">
        <div class="modal-content">
            <div class="modal-header modal-cd-header">
               <div>
                 <span class="modal-title modal-cd-title">短信或Email通知</span>
               </div>
            </div>
            <div class="modal-body">
                <p id="sms-content" class="modal-cd-body">
                </p>
                <form id="sms-form">
                    <p><input type="text" class="form-control" name="sms-number" id="sms-number" placeholder="手机号" maxlength="11"></p>
                    <input type="text" class="form-control" name="emailto" id="emailto" placeholder="Email" maxlength="120">
                </form>
            </div>
            <div class="modal-footer">
                <button onclick="sendSMS()" type="button" class="btn btn-cd-g align-center">发送</button>
                <button onclick="finished()" type="button" class="btn btn-primary align-center">关闭</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block menu_right_block %}
<div class="col-lg-9 col-md-9 col-sm-8" id="menu_right">
    <div class="panel panel-cd">
        <div class="row">
            <div class="col-lg-6 col-md-5 col-sm-4">
                <div id="preview-item">
                    <img class="preview-panel-{{mclass}} align-center" src="/static/images/m3_wp_bg.png"/>
                </div>
                <div class="align-center" style="padding-top:25px">
                    <button  onclick="back2Maker()" class="btn btn-cd-g btn-lg align-center" type="button">返回定制</button>
                    <button id="submitBtn" onclick="submitOrder()" class="btn btn-primary btn-lg align-center" type="button">提交订单</button>
                </div>
            </div>
            <div class="col-lg-6 col-md-7 col-sm-8" data-step="8" data-position="right"  data-intro="在此页可进行各定制项目的预览,提交定制并按照提示补充相应的信息">
                <span class="nav-tabs-cd-title" style="padding-left:5px">您的定制内容</span>
                <div class="line-cd-2">
                </div>
                <table class="table table-hover confirm-table" id="confirm-table">
                   <thead>
                   </thead>
                   <tbody id="confirm-items">
                   </tbody>
                </table>
                <p class="confirm-prompt" id="confirm-prompt"></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block your_js %}
<script type="text/javascript" src="/static/js/caredear_music.js"></script>
<script type="text/javascript">
    var lockwallpaper, desktopwallpaper, bootuptone, callingtone, ecard, model;
    var pin_code = "";
    var boot_image_list=new Array();
    var app_list=new Array();
    var build_time = "";
    $('#confirm-table').on('click', 'tr', function (event) {
        $(this).parent().children().removeClass("active");
        $(this).addClass("active");
        var played_url = getCookie("played_url");
        if (this.id == "bootuptone_active" && played_url != bootuptone.filename){
            play_single_sound(bootuptone.filename, "selected1", bootuptone.songname, bootuptone.crop);
        } else if (this.id == "callingtone_active" && played_url != callingtone.filename){
            play_single_sound(callingtone.filename, "selected2", callingtone.songname, callingtone.crop);
        } else {
            pause_single_sound();
        }
    });
    function previewECard() {
        document.getElementById("preview-item").innerHTML='\
        <div class="preview-panel-'+mclass+' align-center">\
            <img src="/static/images/'+mclass+'_wp_bg.png">\
            <img class="preview-wp-'+mclass+'" src="'+ecard+'">\
        </div>';
    }
    function previewBootAnimation() {
        var content_slide = "";
        stopSlide();
        for (var i = 0; i < boot_image_list.length; i++) {
            content_slide += "<div><img class='preview-wp-"+mclass+"' src='"+boot_image_list[i].name+"'></div>";
        }
        document.getElementById("preview-item").innerHTML='\
        <div class="preview-panel-'+mclass+' align-center">\
            <img src="/static/images/'+mclass+'_wp_bg.png">\
            <div id="slideshow">'+content_slide+'</div>\
        </div>';
        if (boot_image_list.length>1) {
            startSlide();
        }
    }
    function previewBootRingtone() {
        document.getElementById("preview-item").innerHTML='\
            <div class="preview-panel-'+mclass+' align-center">\
                <img src="/static/images/'+mclass+'_wp_bg.png"/>\
                <div class="preview-ringtone-bg-'+mclass+'"></div>\
                <div class="preview-ringtone-bg2-'+mclass+'"></div>\
                <div id="preview_content"></div>\
            </div>';
    }
    function previewCallRingtone() {
        document.getElementById("preview-item").innerHTML='\
            <div class="preview-panel-'+mclass+' align-center">\
                <img src="/static/images/'+mclass+'_wp_bg.png"/>\
                <div class="preview-ringtone-bg-'+mclass+'"></div>\
                <div class="preview-ringtone-bg2-'+mclass+'"></div>\
                <div id="preview_content"></div>\
            </div>';
    }
    function previewSmsRingtone() {
        //
    }
    function previewLockWallpaper() {
        document.getElementById("preview-item").innerHTML='\
        <div class="preview-panel-'+mclass+' align-center">\
            <img src="/static/images/'+mclass+'_wp_bg.png">\
            <img class="preview-wp-'+mclass+'" src="/static/images/'+mclass+'_lock.png" style="background-image:url('+lockwallpaper.name+');">\
        </div>';
    }
    function previewDesktopWallpaper() {
        document.getElementById("preview-item").innerHTML='\
        <div class="preview-panel-'+mclass+' align-center">\
            <img src="/static/images/'+mclass+'_wp_bg.png">\
            <img class="preview-wp-dkp-'+mclass+'" src="'+desktopwallpaper.name+'"><img class="preview-wp-'+mclass+'" src="/static/images/'+mclass+'_desktop.png">\
        </div>';
    }
    function previewApp() {
        var content_tmp = "";
        for (var i = 0; i < app_list.length; i++) {
            if ((i+1)%3==1) content_tmp+="<tr>";
            content_tmp+="<td><img style='border-radius:4px' src='"+app_list[i].icon+"'/><p>"+app_list[i].name+"</p></td>";
            if ((i+1)%3==0) content_tmp+="</tr>";
        }
        if (app_list.length%3!=0) content_tmp+="</tr>";
        document.getElementById("preview-item").innerHTML='\
            <div class="preview-panel-'+mclass+' align-center">\
              <img src="/static/images/'+mclass+'_wp_bg.png"/>\
              <img class="preview-wp-'+mclass+'" src="/static/images/app_bg.png">\
              <span class="app-icon-'+mclass+'">\
                  <table id="preview_app" class="preview_app">'+content_tmp+'\
                  </table>\
              </span>\
            </div>';
    }
    window.onload = function() {
        clearCookie("finished");
        var usrSelected = 0;
        document.getElementById('menu_left').className="";
        document.getElementById('menu_right').className="";

        var content="";
        var content_tmp="";
        var content_miss="";
        var filename="";
        //load Model type
        model = getCookie("model");
        if (model == '1') {
            model = "M2C";
        } else if (model == '2') {
            model = "M2D";
        } else if (model == '3') {
            model = "M3";
        } else {
            cdLog("Get model type (" + model + ")error!");
            model = "21KE";
        }
        //load ecard message
        filename = getCookie("welcome-changefilename");
        if (filename != "") {
            ecard = filename;
            content_tmp = filename+"/?imageView2/3/w/169/h/310";
            content += "<tr onclick='previewECard()'><td class='confirm-title'>电子贺卡</td><td colspan='2'><img class='confirm-img' src='"+content_tmp+"'></td></tr>";
            usrSelected++;
        } else {
            content_miss += "<a href='../welcome'>电子贺卡</a>，";
        }
        //load boot animation list
        content_tmp="";
        for (var i=0; i<4; i++) {
            var image = Cookies.getJSON('boot-'+i)
            if (image && image.name != "") {
                var filename_preview = '';
                if (image.pb != "") {
                    filename_preview = image.name +"?imageView2/3/w/120/h/200";
                } else {
                    filename_preview = image.name +"|imageView2/3/w/120/h/200";
                }
                content_tmp+="<img class='confirm-img' src='"+filename_preview+"'>";
                boot_image_list.push(image);
            } else {
                break;
            }
        }
        if (content_tmp != "") {
            content += "<tr onclick='previewBootAnimation()'><td class='confirm-title'>开机动画</td><td colspan='2'>"+content_tmp+"</td></tr>";
            usrSelected++;
        } else {
            content_miss += "<a href='../animation'>开机动画</a>，";
        }
        //load bootup ringtone
        filename = getCookie("music_boot_filename");
        if (filename != "") {
            bootuptone = new Object();
            bootuptone.filename = filename;
            bootuptone.prebuilt = getCookie("music_boot_prebuilt");
            bootuptone.md5 = getCookie("music_boot_md5");
            bootuptone.crop = getCookie("music_boot_crop");
            bootuptone.singer_pic = getCookie("music_boot_pic");
            bootuptone.singer = getCookie("music_boot_singer");
            bootuptone.songname = getCookie("music_boot_songname");
            var url = filename;
            if (bootuptone.prebuilt == '') {
                url = "http://7xio6q.com1.z0.glb.clouddn.com/" + bootuptone.md5;
            }
            content += "\
                <tr id='bootuptone_active' onclick='previewBootRingtone()'>\
                    <td class='confirm-title'>开机铃声</td>\
                    <td class='confirm-text'>"+bootuptone.songname+"</td>\
                    <audio id='selected1' preload='auto' src='" + url+"'></audio>\
                </tr>";
            usrSelected++;
        } else {
            content_miss += "<a href='../ringtone_boot'>开机铃声</a>，";
        }
        //load call ringtone
        filename = getCookie("callring_filename");
        if (filename != "") {
            callingtone = new Object();
            callingtone.filename = filename;
            callingtone.prebuilt = getCookie("callring_prebuilt");
            callingtone.md5 = getCookie("callring_md5");
            callingtone.crop = getCookie("callring_crop");
            callingtone.singer_pic = getCookie("callring_pic");
            callingtone.singer = getCookie("callring_singer");
            callingtone.songname = getCookie("callring_songname");
            var url = filename;
            if (callingtone.prebuilt == '') {
                url = "http://7xio6q.com1.z0.glb.clouddn.com/" + callingtone.md5;
            }
            content += "\
                <tr id='callingtone_active' onclick='previewCallRingtone()'>\
                    <td class='confirm-title'>来电铃声</td>\
                    <td class='confirm-text'>"+callingtone.songname+"</td>\
                    <audio id='selected2' preload='auto' src='" + url+"'></audio>\
                </tr>";
            usrSelected++;
        } else {
            content_miss += "<a href='../ringtone_call'>来电铃声</a>，";
        }
        //load lockwallpaper
        lockwallpaper = Cookies.getJSON('lockwp');
        if (lockwallpaper && lockwallpaper.name != "") {
            var filename_preview = '';
            if (lockwallpaper.pb != "") {
                filename_preview = lockwallpaper.name+"?imageView2/3/w/120/h/200";
            } else {
                filename_preview = lockwallpaper.name+"|imageView2/3/w/120/h/200";
            }
            content += "<tr onclick='previewLockWallpaper()'><td class='confirm-title'>锁屏壁纸</td><td colspan='2'><img class='confirm-img' src='"+filename_preview+"'></td></tr>";
            usrSelected++;
        } else {
            content_miss += "<a href='../wallpaper_lock'>锁屏壁纸</a>，";
        }
        //load desktop wallpaper
        desktopwallpaper = Cookies.getJSON('dkpwp');
        if (desktopwallpaper && desktopwallpaper.name != "") {
            var filename_preview = '';
            if (desktopwallpaper.pb != "") {
                filename_preview = desktopwallpaper.name+"?imageView2/3/w/120/h/125";
            } else {
                filename_preview = desktopwallpaper.name+"|imageView2/3/w/120/h/125";
            }
            content += "<tr onclick='previewDesktopWallpaper()'><td class='confirm-title'>桌面壁纸</td><td colspan='2'><img class='confirm-img-dkp' src='"+filename_preview+"'></td></tr>";
            usrSelected++;
        } else {
            content_miss += "<a href='../wallpaper_head'>桌面壁纸</a>，";
        }
        //load app list
        content_tmp="";
        for (var i=0; i<10; i++) {
            var app = Cookies.getJSON('app-'+i);
            if (app && app.pkg != "" && app.icon != "") {
                content_tmp+='<a onclick="showAppDetail(\''+ app.pkg+ '\')" href="#"><img style="border-radius:4px" class="confirm-app" title="'+name+'" src="'+app.icon+'"></a>';
                app_list.push(app);
            } else {
                break;
            }
        }
        if (content_tmp != "") {
            content += "<tr onclick='previewApp()'><td class='confirm-title'>App预装</td><td colspan='2'>"+content_tmp+"</td></tr>";
            usrSelected++;
        } else {
            content_miss += "<a href='../app'>App预装</a>，";
        }

        if (usrSelected == 0) {
            document.getElementById('confirm-prompt').innerHTML='<p class="text-danger">您尚未定制任何选项, 若继续定制请点击“返回定制”</p>';
            document.getElementById("submitBtn").disabled=true;
        } else {
            document.getElementById('confirm-items').innerHTML=content;
            if (content_miss != "") {
                content_miss = content_miss.slice(0, content_miss.length-1);
                document.getElementById('confirm-prompt').innerHTML="<p class=\"text-danger\">当前定制尚有"+content_miss+"未完成，继续定制请点击“返回定制”；<br>结束定制请点击“提交订单”。</p>";
            } else {
                document.getElementById('confirm-prompt').innerHTML="当前定制已全部完成，请“提交订单”；更新定制请点击“返回定制”。";
            }
            updateSubmit();
        }

        $("#confirm-items > tr").first().trigger("click");

    }
    function submitResult(title, content) {
        $('#waitingModal').modal('hide');
        document.getElementById("resultTitle").innerHTML=title;
        document.getElementById("resultContent").innerHTML=content;
        document.getElementById("btn-sms").style.display="block";
        document.getElementById("btn-exit").style.display="block";


        if (title != "定制完成") {
            document.getElementById("btn-sms").style.display="none";
            $("#btn-exit").css("text-align","right");
            $("#btn-exit").css("display","");
        }

        if (title == '定制完成'){
            document.getElementById("btn-exit").style.display="none";
        }

        $('#submitResultModal').modal('show');
    }


    function finished() {
        var status = getCookie("finished");
        if (status == "") {
            $('#submitResultModal').modal('hide');
            return;
        } else if (status == "1") {
            var result = confirm('在退出前，请确保已经记下定制码。确定退出？');  
            if (result) {
                window.location.href="/";
            } else {
                return;
            }
        } else if (status == "2") {
            window.location.href="/";
        }
    }

    function submit() {
        bind_desp = document.getElementById("bind_desp").value;
        console.log(bind_desp);
        bind_desp = bind_desp.replace(/ /g,"");

        _hmt.push(['_trackEvent', 'submitaction', 'submit', '提交订单']);
        $('#confirmModal').modal('hide');
        $('#waitingModal').modal('show');
        var makerid = getCookie("makerid");
        var filename = "";
        var list=new Array();
        var item;
        var pb_info_id = 0;
        var md5 = "";
        //get lockwallpaper
        if (lockwallpaper != undefined) {
            if (lockwallpaper.pb != '') {
                filename = null;
                md5 = null;
                pb_info_id = parseInt(lockwallpaper.pb);
            } else {
                md5 = lockwallpaper.md5;
                filename = md5.split("_", 2)[1];
                pb_info_id = -1;
            }
            item=new Array();
            item = [3, pb_info_id, filename, md5, null, null, lockwallpaper.crop==""?null:lockwallpaper.crop, null];
            list.push(item);
        }
        //get desktopwallpaper
        if (desktopwallpaper != undefined) {
            if (desktopwallpaper.pb != '') {
                filename = null;
                md5 = null;
                pb_info_id = parseInt(desktopwallpaper.pb);
            } else {
                md5 = desktopwallpaper.md5;
                filename = md5.split("_", 2)[1];
                pb_info_id = -1;
            }
            item=new Array();
            item = [4, pb_info_id, filename, md5, null, null, desktopwallpaper.crop==""?null:desktopwallpaper.crop, null];
            list.push(item);
        }
        //get boot animation
        for (var i = 0; i < boot_image_list.length; i++) {
            if (boot_image_list[i].pb != '') {
                filename = null;
                md5 = null;
                pb_info_id = parseInt(boot_image_list[i].pb);
            } else {
                md5 = boot_image_list[i].md5;
                filename = md5.split("_", 2)[1];
                pb_info_id = -1;
            }
            item=new Array();
            item = [1000+i+1, pb_info_id, filename, md5, null, null, boot_image_list[i].crop==""?null:boot_image_list[i].crop, null];
            list.push(item);
        }
        //get app list
        for (var i = 0; i < app_list.length; i++) {
            item=new Array();
            item = [6, -1, app_list[i].pkg, null, null, null, null, null];
            list.push(item);
        }
        //get bootup ringtone
        if (bootuptone != undefined) {
            if (bootuptone.prebuilt != '') {
                filename = null;
                md5 = null;
                pb_info_id = parseInt(bootuptone.prebuilt);
            } else {
                md5 = bootuptone.md5==""?null:bootuptone.md5;
                filename = bootuptone.filename.split("_", 2)[1];;
                pb_info_id = -1;
            }
            item=new Array();
            item = [2, pb_info_id, filename, md5, null, null, bootuptone.crop==""?null:bootuptone.crop, null];
            list.push(item);
        }
        //get calling ringtone
        if (callingtone != undefined) {
            if (callingtone.prebuilt != '') {
                filename = null;
                md5 = null;
                pb_info_id = parseInt(callingtone.prebuilt);
            } else {
                md5 = callingtone.md5==""?null:callingtone.md5;
                filename = callingtone.filename.split("_", 2)[1];
                pb_info_id = -1;
            }
            item=new Array();
            item = [1, pb_info_id, filename, md5, null, null, callingtone.crop==""?null:callingtone.crop, null];
            list.push(item);
        }
        //get ecard message
        if (ecard != undefined && ecard != "") {
            filename = ecard;
            filename = filename.split(".com/", 2)[1];
            item=new Array();
            item = [7, -1, "ecard", filename, null, null, null, null];
            list.push(item);
        }
        //submit all
        if (list.length > 0) {
            $.ajax({
                url: '/v1/maker/uploadall/',
                async:true,
                timeout : 180000,
                dataType: 'json',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify( { "makerID":makerid,
                                        "desp": bind_desp ==""?build_time:bind_desp,
                                        "bind": null,
                                        "data":list } ),
                success: function(data) {
                    cdLog(JSON.stringify(data));
                    var result = JSON.parse(JSON.stringify(data));
                    if (result.code == "0" && result.pinCode != undefined) {
                        deleteAllCookies();
                        var tmp = tmp = "<span style='color:blue'>"+model+"</span>"
                        submitResult("定制完成", "您的定制包已制作完成，下载代码是&nbsp<span style='color:red'>"+result.pinCode+"</span><br/>您可以在"+tmp+"手机上使用此代码下载您的定制包，请牢记代码！<br/>感谢您使用21KE手机定制服务!");
                        pin_code = result.pinCode;
                        setCookie("finished","1");
                    } else if (result.code == "99") {
                        submitResult("正在定制", "服务器正在处理您的请求，请您稍等!");
                    } else {
                        submitResult("定制失败", "服务器故障，错误代码:"+result.code+"，请稍后再试!");
                    }
                },
                error: function( jqXhr, textStatus, errorThrown ){
                    if (errorThrown == "timeout") {
                        submitResult("定制失败", "服务器请求超时，请稍后再试!");
                    } else {
                        submitResult("定制失败", errorThrown);
                    }
                }
            });
        }
    }
    function editSMS() {
        $('#submitResultModal').modal('hide');
        document.getElementById("sms-content").innerHTML="把下载代码&nbsp<span style='color:red'>"+pin_code+"</span>&nbsp发送给以下手机号码或Email:";
        $('#smsModal').modal('show');
    }
    function sendSMS() {
        //Check sms number
        var sms_number = document.getElementById("sms-number").value;
        var emailto = document.getElementById("emailto").value;
        sms_number = sms_number.replace(/ /g,";");
        var numbers = sms_number.split(";");

        if(sms_number ==''  && emailto == '') {
            showToast('error',"请输入手机号或者email至少一项");
            return;
        }

        if (emailto != '' && !validate_email(emailto)) {
            showToast('error',"您输入的email格式不正确");
            return;
        }

        sms_number = "";
        for (var i = 0; i < numbers.length; i++) {
            if (numbers[i] != "") {
                var mobileReg =/^1\d{10}$/;
                if(mobileReg .test(numbers[i])==false){
                    showToast('error',"对不起，您输入的手机号码 "+numbers[i]+" 有错误。请输入正确的手机号码。");
                    return;
                } else {
                    sms_number += numbers[i] + ";"
                }
            }
        }
        $('#smsModal').modal('hide');
        $('#waitingModal').modal('show');
        //send sms
        //if (sms_number.length > 0) {
        {
            $.ajax({
                url: '/v1/maker/notify_result/',
                async:true,
                timeout : 180000,
                dataType: 'json',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify( { "email": emailto,
                                        "phone":sms_number,
                                        "code":pin_code } ),
                success: function(data) {
                    cdLog(JSON.stringify(data));
                    var result = JSON.parse(JSON.stringify(data));
                    if (result.code == "0") {
                        var email = "";
                        var sms = "";
                        if (sms_number != "") {
                            sms = "手机:&nbsp<span style='color:blue'>"+sms_number.slice(0, sms_number.length-1)+"</span>&nbsp&nbsp";
                        }
                        if (emailto != "") {
                            email = "Email:&nbsp<span style='color:blue'>"+emailto+"</span>";
                        }
                        var tmp = "下载代码&nbsp<span style='color:red'>"+pin_code+"</span>&nbsp已发送给"+sms+email+"<br/>感谢您使用21KE手机定制服务!"
                        submitResult("发送完成", tmp);
                        setCookie("finished","2");
                    } else {
                        submitResult("发送失败", "服务器故障，错误代码:"+result.code+"，请稍后再试!");
                    }
                },
                error: function( jqXhr, textStatus, errorThrown ){
                    if (errorThrown == "timeout") {
                        submitResult("发送失败", "服务器请求超时，请稍后再试!");
                    } else {
                        submitResult("发送失败", errorThrown);
                    }
                }
            });
        }
    }
    function back2Maker() {
        window.location.href="/v1/maker/cust/welcome"
    }

    $(function() {

        $('.modal-app-dialog').removeClass('modal-dialog-center');
        $('.modal-app-dialog').addClass('modal-dialog-appdetail');
        $('#maker_help').on('click', function() {
            introJs().start();
        });
    });

    function validate_email(field) {
        if (field !='') {
            var apos=field.indexOf("@");
            var dotpos=field.lastIndexOf(".");
            if ((apos<1) || ((dotpos-apos) < 2)) { 
                return false;
            } else {
                return true;
            }
        }
    }

    function checkLength(which) { 
        var maxChars = 10; 
        if (which.value.length > maxChars)
            which.value = which.value.substring(0,maxChars);
            var curr = maxChars - which.value.length;
            if (curr == maxChars) {
                document.getElementById("chLeft").innerHTML = " (不超过10个字)";
            } else {
                document.getElementById("chLeft").innerHTML = " (还可输入"+curr.toString()+"个字)";
            }
    }


    function submitOrder() {
        build_time = getNowFormatDate();
        $('#bind_desp').attr("placeholder","默认将命名为: "+ build_time);
        $('#confirmModal').modal('show');
    }

</script>
{% endblock %}
