{% extends 'v1/base_index.html' %}

{% load staticfiles %}

{% block title %}我的定制{% endblock %}

{% block your_css %}

{% endblock %}

{% block body_block %}
<br/>
<div class="container">
    <div class="panel panel-cd"  style="padding:0px 100px;">
        <div style="height:10px;"></div>
        <h3>定制包代码</h3>
        <h4 style="padding-top:10px;">请输入您的定制包下载代码（6位字母或数字），找回并重新编辑定制包</h4>
        <br/>
        <form id="mp-form">
            <input type="text" class="form-control" name="pin-code" id="pin-code" placeholder="输入定制包代码" maxlength="6" style="width:400px">
        </form>
        <br/>
        <button class="btn btn-primary" style="margin-top:10px;" onclick="retrieveMaker()" type="button">找回定制包</button>
    </div>
</div>

<div class="modal fade" id="findResultModal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-center" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="resultTitle">无法找回定制包</h4>
            </div>
            <div class="modal-body" id="findResult">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" onclick="$('#findModal').modal('show')" type="button">找回定制包</button>
                <button class="btn btn-primary" data-dismiss="modal" data-toggle="modal" aria-label="Close" type="button">关闭</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block your_js %}
<script type="text/javascript">
    function editPackage(result) {
        $.ajax({
            url: '/v1/maker/begin/',
            dataType: 'json',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify( { "model" : result.model, "description": "" } ),
            success: function(data) {
                cdLog(JSON.stringify(data));
                var markerid = JSON.stringify(data.makerid);
                markerid = markerid.replace(/\"/g,"");
                result.makerID = markerid;
                deleteAllCookies();
                restoreAllCookies(result);
                window.location.href="/v1/maker/cust/submit";
            },
            error: function( jqXhr, textStatus, errorThrown ){
                cdLog( errorThrown );
                document.getElementById("findResult").innerHTML="服务器故障，请稍后再试!";
                $('#findResultModal').modal('show');
            }
        });
    }

    function retrieveMaker() {
        var pcode = document.getElementById("pin-code").value.toLowerCase();
        var mobileReg = /^[a-z0-9]*$/;
        if (pcode.length != 6 || mobileReg.test(pcode)==false) {
            showToast('error',"对不起，您输入的定制包代码 "+pcode+" 有错误。请输入正确的定制包代码（6位字母或数字）。");
            return;
        }
        $.ajax({
            url: '/v1/maker/retrieve/',
            async:true,
            timeout : 180000,
            dataType: 'json',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify( { "pinCode":pcode } ),
            success: function(data) {
                cdLog(JSON.stringify(data));
                var result = JSON.parse(JSON.stringify(data));
                if (result.code == "0") {
                    editPackage(result);
                } else if (result.code == "4" || result.code == "5") {
                    document.getElementById("findResult").innerHTML="对不起，找不到代码为 "+pcode+" 的定制包，请重新输入定制代码";
                    $('#findResultModal').modal('show');
                } else {
                    document.getElementById("findResult").innerHTML="服务器故障，错误代码:"+result.code+"，请稍后再试!";
                    $('#findResultModal').modal('show');
                }
            },
            error: function( jqXhr, textStatus, errorThrown ){
                if (errorThrown == "timeout") {
                    document.getElementById("findResult").innerHTML="服务器请求超时，请稍后再试!";
                } else {
                    document.getElementById("findResult").innerHTML=errorThrown;
                }
                $('#findResultModal').modal('show');
            }
        });
    }
</script>
{% endblock %}
